@import 'default.scss';
@import 'product-box.scss';


main{
    margin-top: 0;
}

.list-slider{
    padding-top: 10px;
}


.lp-description{
    p{
        margin: 10px 0;
        font-size: 13px;
    }
}

h1.desc-head {
    font-size: 1.6rem;
    padding: 0;
    font-weight: 600;
    line-height: 1;
    color: $blue;
}

.prd-sum{
    span {
        font-size: 13px;
        margin: 10px 0;
    }
}

.list-filter{
    width: 20%;
    padding-right: 10px;
    float: left;
}

.filter-content{
    width: 100%;
    background: $white;
}


.special-main{
    width: 80%;
    float: left;
    margin-bottom: 10px;

    &.mar-0{
        margin: 0;
    }
}

.filter-box {
    padding: 20px 15px 10px;
    border-bottom: 1px solid $fav-grey;
    position: relative;

    &.active{
        .filter-caption{
            &::after{
                content: "\e902"; 
            }
        }
    }
}

.filter-caption{
    font-size: 13px;
    font-weight: 600;
    position: relative;
    cursor: pointer;
    margin-bottom: 10px;
    color: $c-666;

    &::after{
        content: "\e903";
        font-family: icomoon_g;
        font-size: 20px;
        width: 20px;
        height: 10px;
        position: absolute;
        right: 0;
        line-height: 1;
    }

    &.top-acc{
        cursor: default;
        &::after{
            display: none;
        }
    }
}


.filter-main{
    width: 100%;
    display: none;

    &.active{
        display: block;
    }
}

.filter-select {
    li{
        padding: 5px 22px;
        line-height: 1;
        font-size: 14px;
        position: relative;

        

        &.active{
            font-weight: 600;

            a{
                color: $blue;
                &::after{
                    content: '';
                    position: absolute;
                    left: 0px;
                    top: 5px;
                    width: 12px;
                    height: 12px;
                    cursor: pointer;
                    background: $light-blue;
                }
            }
        }
        
        a{
            color: $lev-grey;
            &::before{
                content: '';
                position: absolute;
                left: 0;
                width: 12px;
                height: 12px;
                border: 1px solid $lev-grey;
                cursor: pointer;
            } 
        }
    }
}

.filter-qty {
    margin-left: 6px;
    font-size: 12px;
    color: $dev-grey;
}

.filtered-item {
    width: 100%;
    background: #fff;
}

.filtered-group {
    display: inline-block;
    padding: 5px 10px 5px 30px;
    margin: 10px;
    background: #eee;
    border-radius: 5px;
    position: relative;
}

.group-close {
    display: block;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);

    &::before{
        font-family: icomoon;
        content: "\e921";
        background: #fff;
        color: $dark-grey;
        border-radius: 50%;
        font-size: 8px;
        float: left;
        width: 17px;
        height: 17px;
        text-align: center;
        line-height: 17px;
    }

    &:hover{
        &::before{
            color: #fff;
            background: #9e9e9e;
        }
    }
}

.group-name{
    font-size: 11px;
    color: #777;
}

.manuel-price-filter {
    margin: 15px 0 0;
}

input.filter-price-input{
    display: inline-block;
    padding: 10px;
    width: 33%;
    border-radius: 4px;
    border: 1px solid $mid-grey;
}

.filter-info-video{
    color: $vtn-red;
    position: absolute;
    right: 40px;
    top: 16px;

    &::before{
        content: '\e90d';
        font-family: $icomoon_g;
        font-size: 17px;
        font-weight: 400;
    }
}


input.input-filter-key {
    width: 100%;
    padding: 10px;
    border: 1px solid #a9cfec;
    margin: 5px 0;
    border-radius: 4px;
}

.sort-head{
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
}

.sort-select {
    display: inline-block;
    width: 100%;
    max-width: 225px;
    margin-right: 15px;
}

.prd-sort{
    border:none;
    font-size: 14px;
    width: 100%;
    font-weight: 600;
    color: $c-666;
}

.stock-check-main {
    display: inline-block;
    padding: 0 5px;
    margin-left: 30px;
}

.stock-check{
    &+label{
        margin-bottom: 0;
        padding-top: 1px;
        height: 18px;
        font-weight: 600;
        font-size: 14px;
        color: $c-666;
    }
    &:not(:checked)+label:after {
        content: "";
        width: 12px;
        height: 11px;
        top: 3px;
        left: 3px;
    }
}

.head-list-type {
    float: right;
}

.list-type {
    display: inline-block;
    color: #555;
    background: #eeeeee;
    padding: 0 10px;
    margin: 0 3px;
    border-radius: 3px;

    &::before{
        content: '\e91d';
        font-family: $icomoon_g;
        font-size: 21px;
        font-weight: 300;
        padding-bottom: 2px;    }

    &.grid-type{
        &::before{
            content: '\e91e';
        }
    }

    &.active{
        &::before{
            color: $blue;
        }
    }
}

.category-brand {
    li{
        width: 16.666%;
        float: left;
        padding: 5px;
        margin: 5px 0;


        a{
            padding: 7px;
            border: 1px solid $th-grey;
            border-radius: 4px;
            display: block;
            transition: all .3s ease;
            
            &:hover{
                border: 1px solid $blue;
                opacity: .8;
            }

        }

        img{
            max-width: 100%;
            max-height: 100%;
            margin: 0 auto;
        }
    }
}



.category-price-filter {
    li{
        width: 25%;
        float: left;
        padding: 5px;
        margin: 5px 0;

        &:first-child{
            padding-left: 3px;
        }

        &:last-child{
            padding-right: 3px;
        }


        a{
            padding: 7px;
            border: 1px solid $th-grey;
            border-radius: 4px;
            display: block;
            transition: all .3s ease;
            
            &:hover{
                border: 1px solid $blue;
                opacity: .8;
            }

        }

        img{
            max-width: 100%;
            max-height: 100%;
            margin: 0 auto;
        }
    }
}


.fast-filter {
    background: #fff;
    width: 100%;
    display: inline-block;
}


.tp-filter-item {
    float: left;
    width: 20%;
    padding: 0 15px;        
    

    &:first-child{
        .filter-img {
            padding-right: 38px;
            padding-left: 38px;
        }
    }

    &:last-child{
        border-right: none;

        .filter-img {
            padding-right: 47px;
            padding-left: 47px;
        }
    }
}

.filter-img {
    padding: 20px;
    background: #fff;

    img{
        max-width: 100%;
        max-height: 100%;
    }
}

.tp-filter-item h4 {
    font-weight: 500;
    text-transform: uppercase;
    text-align: left;
    line-height: 1.5;
    font-size: 14px;
    padding: 10px 10px;
}

ul.filter-element li {
    width: 87%;
    a{  
        display: block;
        color: $lev-grey;
        text-align: left;
        padding: 6px 10px;
        font-size: 13px;
        font-weight: 400;
        border-bottom: 1px solid $tr-grey;
        position: relative;

        &::after{
            content: '\e905';
            font-family: $icomoon_g;
            position: absolute;
            right: 5px;
            top: 50%;
            transform: translateY(-50%);
        }

        &:hover{
            color: $light-blue;
            background: $tr-grey;
        }
    }

    &:last-child{
        a{
            border-bottom: none;
        }
    }
}

#gridMain{
    float: left;
    width: 100%;
}


.list-slider{
    background: $blue;
    padding-bottom: 10px;

    .carousel-slide{
        padding: 0 50px;
    }

    button.owl-dot {
        span{
            border: 1px solid $white;
        }
    }

    img{
        max-height: auto;
    }

    .head{
        border-bottom: none;
    }

    .head-title{
        color: $white;
    }

    .product-item{
        margin: 5px;
        background: $white;
        border-radius: 4px;

        .prd-img {
            padding: 15px 30px 5px;
        }

        .prd-main{
            &:hover{
                transform: none;
            }
        }
    }
}


@include responsive(desktop){
    .special-filter{
        display: none;
    }

    .filter-box {
        padding: 20px 9px 10px;
    }

    .filter-select {
        li {
            padding: 5px 18px;
            font-size: 12px;
        }
    }
}


@include responsive(laptop){
    .list-slider{
    
        .carousel-slide{
            padding: 0;
        }

    }

    .list-filter{
        display: none;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 99;
        padding-right: 0;
        height: 100%;
        overflow: auto;

        &.active{
            display: block;
        }
    }

    .special-main{
        width: 100%;
    }

    .filter-selected{
        display: none;
    }

  
}


.mobile-sort-head {
    background: #2196f3;
    padding: 15px 0;
    display: none;
}

.mobile-filter-link {
    width: 33.333%;
    float: left;
    text-align: center;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;

    &:hover{
        color: #fff;
    }
}


.head-mobile-filter {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $blue;
    z-index: 99;
    color: #fff;
    padding: 6px 10px;
    display: none;
    text-align: right;
}

.filter-head-text {
    font-size: 17px;
    color: #fff;
    margin-right: 20px;
    margin-top: 5px;
    display: inline-block;
}

.footer-mobile-filter {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 15px;
    text-align: center;
    display: none;
}

.filter-mobile-link{
    display: none;
}

@include responsive(laptop){
    .stock-check-main,
    .head-list-type{
        display: none;
    }

    .mobile-sort-head,
    .footer-mobile-filter,
    .head-mobile-filter,
    .filter-mobile-link{
        display: inline-block;
    }

    .sort-select{
        margin-right: 0;
        margin-left: 10px;
        float: right;
    }

    .filter-content {
        width: 100%;
        background: #fff;
        position: fixed;
        bottom: 48px;
        left: 0;
        height: calc(100% - 96px);
        overflow: auto;
    }

    .apply-filter-btn {
        display: inline-block;
        background: #2196f3;
        color: #fff;
        border: none;
    }
}


.sld{
    .slider-img{
        display: none;

        &:first-child{
            display: block;
        }
    }

    &.gzk{
        .slider-img{
            display: block;
        }
    }
}

ul.single-filter-list{
     li{
        a {
            color: $dark-grey;
            font-size: 14px;
            padding: 10px 1px;
            display: block;
            border-bottom: 1px solid $th-grey;
            transition: all .3s ease;
            
            &:hover{
                color: $blue;
            }
        }

        &:last-child{
            a{
                border: none;
            }
        }
    }
}