/*!
Vatan computer clone
Author: servetarslan
AuthorUrl: http://www.servetarslan.com
*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import 'bootstrap.min.css';
@import 'icomoon.css';
@import 'magnific-popup.css';
@import 'owl.carousel.min.css';
@import 'owl.theme.default.min.css';
@import 'mixin.sass';

/*Colors*/
$black : #000;
$bold-black: #1e1414;
$c-333 : #333;
$c-666 : #555;
$title-grey : #555;
$mid-grey: #bababa;
$fav-grey: #e0e0e0;
$lev-grey: #808080;
$dev-grey: #747474;
$bg-grey   : #f7f7f7;
$supergrey: #f2f3f5;
$white : #fff;
$green: #15c060;
$orange : #F4B840;
$blue: #0153a6;
$mid-blue: #4e9de8;
$line-blue: #5198c3;
$light-blue: #2196f3;
$thin-blue: #e9f5fe;
$exlight-blue: #E9F5FE;
$dark-grey: #555;
$light-grey: #9e9e9e;
$youtube: #cc181e;
$vtn-red: #ff1744;

$th-grey: #efedee;
$tr-grey: #f5f5f5;

$soft-green: #daf9e7;
$soft-blue: #e1edf7;


@font-face {
    font-family: 'tl';
    src: url(../fonts/tl/abakutlsymsans.eot);
    src: url(../fonts/tl//abakutlsymsans.eot?#iefix) format("embedded-opentype"),url(../fonts/tl//abakutlsymsans.woff) format("woff"),url(../fonts/tl//abakutlsymsans.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

/*Fonts*/
$source-sans : 'Roboto', sans-serif;
$open-sans : 'Roboto', sans-serif;
$icomoon: 'icomoon';
$icomoon_g: 'icomoon_g';




//Reset
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,


h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
}

q:before,
q:after {
    content: '';
}

abbr,
acronym {
    border: 0;
}

input {
    border: none;
}

textarea,
input[type="text"],
input[type="button"],
input[type="search"],
input[type="submit"] {
    -webkit-appearance: none;
    @include border-radius(0);
}

img {
    display: block;
}

*:before,
*:after {
    box-sizing: border-box;
}

a:active,
a:focus,
input,
button,
select,
textarea {
    outline: none;
}

//Extras


a {
    transition: all .2s ease;
}


a,
a:hover,
a:active,
a:focus,
a:visited {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

::selection{
    background: #c00;
    color: #fff;
    text-shadow: 0 1px 3px #4a536c;
}




@for $i from 1 through 12 {
    .col-xs-#{$i},
    .col-sm-#{$i},
    .col-md-#{$i},
    .col-lg-#{$i}{
        position: relative;
        padding-left: 10px;
        padding-right: 10px;
        min-height: 1px;
        }
}

@for $i from 1 through 12 {
    .col-xs-#{$i} {
    width: $i*(100% / 12);
    float: left;
    }
}


@media (min-width: 768px) {
    @for $i from 1 through 12 {
    .col-sm-#{$i} {
        width: $i*(100% / 12);
        float: left;
    }
    }
}
@media (min-width: 992px) {
    @for $i from 1 through 12 {
    .col-md-#{$i} {
        width: $i*(100% / 12);
        float: left;
    }
    }
}
@media (min-width: 1200px) {
    @for $i from 1 through 12 {
    .col-lg-#{$i} {
        width: $i*(100% / 12);
        float: left;
    }
    }
}
    
    
.col{
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
}

 .xs-20{
    width: 20%;
    float: left;
 }
 
 .xs-80{
    width: 80%;
    float: left;
 }


 @include responsive(tablet){
    .sm-20{
        width: 20%;
        float: left;
     }
     
     .sm-80{
        width: 80%;
        float: left;
     }
 }

 @include responsive(laptop){
    .md-20{
        width: 20%;
        float: left;
     }
     
     .md-80{
        width: 80%;
        float: left;
     }
 }

 @include responsive(desktop){
    .lg-20{
        width: 20%;
        float: left;
     }
     
     .lg-80{
        width: 80%;
        float: left;
     }
 }



/** scren settings **/
@include responsive(mobile){
    .xs-hide{
        display: none !important;
    }
}

@include responsive(tablet){
    .sm-hide{
        display: none !important;
    }
}

@include responsive(laptop){
    .md-hide{
        display: none !important;
    }
}

@include responsive(desktop){
    .lg-hide{
        display: none !important;
    }
}

@include responsive(largedesktop){
    .xl-hide{
        display: none !important;
    }
}

@keyframes menuDownAnimation {
    0% {
        display: none;
        transform: translateY(-15px);
        opacity: 0;
    }

    20% {
        display: block;
        transform: translateY(-15px);
        opacity: .5;
        

    }

    100% {
        transform: translateY(0px);
        opacity: 1;
        
    }
}


@keyframes menuLeftAnimation {
    0% {
        display: none;
        transform: translateX(-15px)
    }

    1% {
        display: block;
        transform: translateX(-15px)
    }

    100% {
        transform: translateX(0px)
    }
}


@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(8%);
	}
	65%{
		transform: translateY(-4%);
	}
	80%{
		transform: translateY(4%);
	}
	95%{
		transform: translateY(-2%);
	}			
	100% {
		transform: translateY(0%);
	}		
}

@keyframes fadein{0%{opacity:0}100%{opacity:1}}

@keyframes fullW{0%{width:0}100%{width:10%}}


@keyframes lastStok{

    0%{
        color: $green;
    }
    50%{
        color: $orange;
    }
    100%{
        color: $white;
    }
}


.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    
    &:focus{
        box-shadow: none;
        outline: 0;
    }
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn:focus, .btn:hover {
    text-decoration: none;
}


.btn-lightb {
    padding: 10px;
    border-radius: 4px;
    background: #2196f3;
    color: #fff;
    font-weight: 400;
    font-size: 15px;
    display: inline-block;
    transition: all .3s ease;

    &:hover{
        color: #fff;
        opacity: .8;
    }
}





.checkbox{
    &:checked,&:not(:checked){
        position: absolute;
        left: -9999px;
    }

    &:checked + label,&:not(:checked) + label{
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        line-height: 1;
        display: inline-block;
    }

    &:checked + label:before, &:not(:checked) + label:before{
        content: '';
        position: absolute;
        left: 0;
        top: -1px;
        width: 16px;
        height: 16px;
        border: 1px solid $dev-grey;
        background: $white;
    }

    &:checked + label:after,&:not(:checked) + label:after{
        content: '';
        width: 10px;
        height: 10px;
        top: 2px;
        left: 3px;
        background: $green;
        position: absolute;
        transition: all 0.2s ease;
    }

    &:not(:checked) + label:after{
        opacity: 0;
        transform: scale(0); 
    }

    &:checked + label:after{
        opacity: 1;
        transform: scale(1);  
    }

    &:disabled:checked + label:before,&:disabled:not(:checked) + label:before{
        border-color: #ccc;
        background-color: #eee;
    }
    &:disabled:checked + label:after{
        background: #aaa;
    }
}


.select {
    padding: 6px;
    border: 1px solid $mid-grey;
    border-radius: 3px;
    background-color: transparent;
    background-image: url(../images/down_arrow.svg); 
    background-position: center right;
    background-size: 15px 15px;
    background-repeat: no-repeat;
    display: block;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
}


.fleft {
    float: left;
}

.fright {
    float: right;
}

.tcenter{
    text-align: center;
}


.w100{
    width: 100%;
}


.is-open{
    display: block;
}

.is-lock{
    overflow: hidden !important;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    position: relative;
}

.bg-supergrey{
    background: $supergrey;
}

.bg-white{
    background: $white;
}


.bg-blue{
    background: $blue;
}

.bg-green{
    background: $green;
}

.bg-red{
    background: $vtn-red;
}

.bg-lightblue{
    background: $light-blue;
}

.blue{
    color: $blue;
}

.green{
    color: $green;
}

.red{
    color: $vtn-red;
}

.lightblue{
    color: $light-blue;
}


.sc-7{
    transform: scale(.7);
}
.sc-8{
    transform: scale(.8);
}
.sc-9{
    transform: scale(.9);
}


.rank-main {
    margin: 10px 0;
}

.form-item{
    width: 100%;
    padding: 13px;
    background: $th-grey;
    font-size: 13px;
    border-radius: 4px;
    resize: none;
    color: $light-grey;

    &::placeholder{
        color: $light-grey;
    }
}

textarea.form-item{
    padding: 10px;
    font-size: 12px;
    border: none;
    font-size: 13px;
}



#emessage{
    position: fixed;
    padding: 10px 20px;
    color: #fff;
    right: 50px;
    top: 60px;
    max-width: 220px;
    z-index: 100;
    border-radius: 5px;
    font-weight: 400;
    padding-left: 50px;
    display: none;


    &::after{
        top: 50%;
        right: -20px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(136,183,213,0);
        border-left-color: $vtn-red;
        border-width: 10px;
        transform: translateY(-50%);
    }



    &.error{
        background: $vtn-red;

        &::before{
            top: 50%;
            left: 10px;
            content: " ! ";
            height: 30px;
            width: 30px;
            position: absolute;
            border: 2px solid $white;
            border-radius: 50%;
            text-align: center;
            font-size: 15px;
            transform: translateY(-50%);
        }

        &::after{
            border-left-color: $vtn-red;
        }
    }

    &.warning{
        background: $orange;

        &::before{
            top: 50%;
            left: 10px;
            content: " ! ";
            height: 30px;
            width: 30px;
            position: absolute;
            border: 2px solid $white;
            border-radius: 50%;
            text-align: center;
            font-size: 15px;
            transform: translateY(-50%);
        }

        &::after{
            border-left-color: $orange;
        }
    }

    &.succes{
        background: $green;

        &::before{
            top: 50%;
            left: 10px;
            content: " ! ";
            height: 30px;
            width: 30px;
            position: absolute;
            border: 2px solid $white;
            border-radius: 50%;
            text-align: center;
            font-size: 15px;
            transform: translateY(-50%);
        }

        &::after{
            border-left-color: $green;
        }
    }

   
}




/***** START *****/

body {
    background: $bg-grey;
    font-family: $source-sans;
    font-weight: 600;
    font-size: 12px;
    color: $c-666;
    overflow-x: hidden;
}

body.locked {
    overflow: hidden;
    position: relative;
}

.vtn-container{
    max-width: 1240px;
    width: 100%;
    position: relative;
    padding: 0 15px;
    margin: 0 auto;
}


@include responsive(tablet){
    .vtn-container{
        padding: 0 10px;
    }
}

.dt-content {
    float: left;
    width: 100%;
    margin-bottom: 28px;
}

.line{
    width: 100%;
    height: 0;
    background: #e5e5e5;
    border-color: #e5e5e5;
    margin: 10px 0;
    float: left;
}

/*// Header //*/

header {
    background: $white;
    //box-shadow: 0 1px 1px rgba(0,0,0,.2);
    position: relative;
    width: 100%;
    z-index: 99;

    .top-menu{
        background: $white;
        border-top: 1px solid #eee;
        width: 100%;
        .top-menu-left,.top-menu-right{
            a{
                color: #7d7d7d;
                font-size: 13px;
                position: relative;
                display: inline-block;
                margin-top: 5px;
                font-weight: 600;

                &:hover{
                    color: $blue;
                }
            }
        }

        .top-menu-left{
            text-align: center;
            a{

                &:before{
                    content: '|';
                    float: right;
                    padding: 5px 14px;
                    font-size: 7px;
                    color: $blue;
                }

                &:last-child{
                    &:before{
                        content: '';
                        padding: 0;
                    }
                }
            }
        }

        .top-menu-right{
            a{
                margin-left: 15px;

                &:first-child{
                    margin-left: 0;
                }
                &:last-child{
                    margin-left: 35px;
                }

                i{
                    font-size: 16px;
                    position: absolute;
                    left: -20px;
                    top: 2px;
                }
            }
        }


    }

    .main-menu{
        width: 100%;
        position: relative;
        .top-first{

            .mb-head{
                display: table;
                table-layout: fixed;
                width: 100%;
                padding: 10px 0;
                height: 50px;

                .mb-menu{
                    width: 45px;
                    display: table-cell;
                    vertical-align: middle;
                    text-align: left;

                    a{
                        &:before{
                            content: '\e91a';
                            font-family: $icomoon;
                            font-size: 20px;
                            color: $white;
                            font-weight: normal;
                        }
                    }
                }

                .mb-logo{
                    width: auto;
                    display: table-cell;
                    vertical-align: middle;
                    text-align: center;
                    padding-left: 30px;
                        a{
                            display: inline-block;
                            max-width: 80px;
                            margin: 0;
                            position: relative;
                            img{
                                max-width: 100%;
                            }
                    }
                }

                .mb-basket{
                    width: 30px;
                    display: table-cell;
                    vertical-align: middle;
                    text-align: right;
                    padding-right: 10px;

                    a{
                        display: inline-block;
                        position: relative;
                        &:before{
                            content: "\e901";
                            font-family: $icomoon;
                            font-size: 20px;
                            color: $white;
                            font-weight: normal;
                        }
                    }
                }

                .mb-search-btn{
                    width: 45px;
                    display: table-cell;
                    vertical-align: middle;
                    text-align: center;
                    overflow: hidden;
                    transition: all .3s ease-in;

                    

                    a{
                        position: relative;
                        top: 0;
                        transition: all .32s ease;

                        &.is-open{
                            &::before{
                                content: "\e937";
                                font-weight: bold;
                            }
                        }

                        &:before{
                            content: "\e924";
                            font-family: $icomoon;
                            font-size: 15px;
                            color: $white;
                            font-weight: normal;
                        }
                    }
                }

            }

            .mb-search{
                width: 100%;
                position: relative;
                margin-bottom: 10px;
                display: none;

                &::before{
                    font-family: $icomoon;
                    font-size: 13px;
                    color: $blue;
                    content: '\e924';
                    font-weight: 400;
                    position: absolute;
                    top: 8px;
                    left: 15px;
                    z-index: 5;
                }

                &.is-open{
                    display: inline-block;
                }

                input{
                    background: $white;
                    color: $blue;
                    width: 100%;
                    border: 0;
                    border-radius: 3px;
                    text-align: left;
                    padding: 13px 15px 12px 40px;
                    height: 35px;
                    font-size: 13px;
                    font-weight: 600;
                    outline: 0;
                    transition: all .2s ease;
                    display: inline-block;
                    &::placeholder{
                        font-size: 14px;
                        color: $blue;
                    }
                }
            }

            .nav-toogle{
                min-height: 240px;
                position: absolute;
                background: #fff;
                width: 100%;
                top: 0;
                left: 0;
                z-index: 20;
                display: none;


                .nav-toogle-menus{
                        li.sub-menu{
                            a.top-sub{
                                padding: 12px 23px;
                                display: inline-block;
                                font-size: 14px;
                                color: $dev-grey;
                                position: relative;
                                z-index: 20;
                                width: 100%;


                                i{
                                    display: inline-block;
                                    vertical-align: middle;
                                    margin-right: 15px;
                                    transition: margin .2s;

                                    &::before{
                                        color: $light-blue;
                                        transition: all .2s ease;
                                        font-size: 30px;
                                    }
                                }

                                &:hover{
                                    background: #2196f3;
                                    color: #fff;
                                    border-right: 0;

                                    i{
                                        margin-right: 25px;
                                        &::before{
                                            color: $white;
                                        }
                                    }
                                }

                                &::after{
                                    content: '\e935';
                                    font-family: $icomoon;
                                    font-size: 12px;
                                    color: $light-grey;
                                    position: absolute;
                                    top: 50%;
                                    right: 25px;
                                    margin-top: -6px;
                                    transition: all .2s ease;
                                    -webkit-transition: all .2s ease;
                                    -o-transition: all .2s ease;
                                }
                            }
                    }

                    .nav-toogle-menus-sub{
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: #fff;
                        display: none;
                        padding: 30px 30px 30px 330px;
                        z-index: 19;
                        min-height: 609px;
                        width: 100%;
                        max-width: 1050px;
                        min-width: 1050px;
                        border-radius: 0 3px 3px 3px;
                        min-height: 537px;
                        height: 537px;
                        overflow-y: auto;
                    }


                    .sub-1{
                        .cat-menu-lvl-2{
                            padding: 0;
                            display: none;
                            right: 0;
                            left: inherit;
                            height: 100%;
                            position: fixed;
                            z-index: 100;
                            background: #fff;
                            top: 0;
                            width: 100%;

                            .cat-menu-lvl-2-back{
                                display: table;
                                width: 100%;
                                height: 60px;
                                table-layout: fixed;
                                background: #0153a6;
                                text-align: center;
                                z-index: 999;

                                i.mobile-header-back{
                                    cursor: pointer;
                                    display: table-cell;
                                    vertical-align: middle;
                                    width: 60px;
                                    text-align: center;
                                    font-style: normal;

                                    &::before{
                                        content: '\e934';
                                        font-family: $icomoon;
                                        font-size: 15px;
                                        color: #fff;
                                    }
                                }

                                span{
                                    display: table-cell;
                                    vertical-align: middle;
                                    width: auto;
                                    color: #fff;
                                    font-size: 18px;
                                }

                                a.mobile-header-close{
                                    display: table-cell;
                                    vertical-align: middle;
                                    width: 60px;
                                    text-align: center;

                                    i{
                                        &::before{
                                            color: #fff;
                                            font-size: 18px;
                                            content: "\e937";
                                        }
                                    }
                                }
                            }

                            ul{
                                position: absolute;
                                top: 60px;
                                left: 0;
                                width: 100%;
                                height: calc(100% - 60px);
                                overflow: auto;

                                li{
                                    width: 100%;
                                    display: table;
                                    table-layout: fixed;
                                    margin-bottom: 0;
                                    border-bottom: 1px solid #eee;
                                    padding: 10px 20px;

                                    .prd-img{
                                        float: inherit;
                                        display: table-cell;
                                        vertical-align: middle;
                                        width: 80px;
                                        img{
                                            width: 100%;
                                        }
                                    }
                                    .prd-content{
                                        display: table-cell;
                                        vertical-align: middle;
                                        min-height: 65px;
                                        padding: 0;

                                        a{
                                            font-size: 16px;
                                            color: $dev-grey;
                                            padding: 15px 20px;
                                            position: relative;
                                            display: block;
                                            width: 100%;


                                                &::after{
                                                    content: '\e935';
                                                    font-family: $icomoon;
                                                    font-size: 12px;
                                                    color: $light-grey;
                                                    position: absolute;
                                                    top: 50%;
                                                    right: 5px;
                                                    margin-top: -6px;
                                                    transition: all .2s ease;
                                                }

                                        }
                                    }
                                }
                            }
                        }

                        &.selected{
                            .cat-menu-lvl-2{
                                display: block;
                                transform: translateX(0px);
                                animation: menuLeftAnimation .3s cubic-bezier(.23,1,.32,1);
                            }

                        }
                }



                }

            }

            .is-open{
                .nav-toogle{
                    display: block;
                    transform: translateY(0px);
                    animation: menuDownAnimation .3s cubic-bezier(.23,1,.32,1);

                }
            }
        }

            .logo-nav{
                float: left;
                width: 300px;
                .logo{
                    float: left;
                    margin-top: -2px;
                    a{
                        display: block;
                        img{
                            max-width: 100%;
                        }
                    }
                }
            }

            .nav-search{
                float: left;
                width: calc(100% - 600px);
                position: relative;

                input{
                    background: $white;
                    width: 100%;
                    height: 35px;
                    line-height: 33px;
                    margin-top: 1px;
                    margin-bottom: 1px;
                    border: .5px solid #d6d6d6;
                    outline: 0;
                    border-radius: 20px;
                    padding: 0 12px;
                    color: $blue;
                    text-align: left;
                    font-size: 13.5px;
                    font-weight: 600;
                    position: relative;
                    z-index: 99;
                    transition: all .2s ease;

                    &::placeholder{
                        color: #7b7b7b;
                        font-size: 12px;
                        font-weight: 600;
                        transition: all .3s ease;
                    }

                    &:focus{
                        &::placeholder{
                            opacity: 0;
                            font-size: 7px;
                        }
                        border-color: $blue;
                        & + .btn--search{
                            background: $blue;
                            color: $white;
                        }
                    }
                }
                input.is-active{
                    padding-left: 20px;
                }
                i{
                    display: inline-block;
                    position: absolute;
                    top: 50%;
                    right: 50%;
                    transform: translateX(50%);
                    margin-top: -8px;
                    pointer-events: none;
                    transition: all .2s ease;
                    &::before{
                        font-size: 16px;
                        color: $white;
                        font-weight: 400;
                        display: inline-block;
                        vertical-align: middle;
                        transition: all .4s cubic-bezier(0.6, -0.28, 0.74, 0.05) ;
                    }
                    &::after{
                        content: 'Ürün ara';
                        margin-left: 5px;
                        display: inline-block;
                        vertical-align: middle;
                        font-family: $source-sans;
                        font-size: 15.2px;
                        color: $white;
                        font-weight: 400;
                        transition: all .4s cubic-bezier(0.6, -0.28, 0.74, 0.05) ;
                    }
                }
                i.is-active{
                    right: 15px;

                    &::after{
                        content: '';
                    }
                }
            }

            .user-main{
                float: right;
                width: 300px;
                position: relative;

                .basket-btn,.login-btn{
                    float: right;
                    position: relative;
                    cursor: pointer;
                    border-radius: 3px;
                    transition: all .2s ease;
                    padding: 5px 10px;

                    a{
                        color: $dark-grey;
                        font-weight: 600;
                        position: relative;
                        display: block;
                        width: 100%;
                        transition: all .2s ease;

                        span{
                            vertical-align: middle;
                            display: inline-block;
                            font-size: 14px;
                            font-weight: bold;
                        }

                        i{
                            width: 30px;
                            height: 30px;
                            text-align: center;
                            border-radius: 100%;
                            display: inline-block;
                            font-style: normal;
                            vertical-align: middle;
                            margin-left: 7px;
                            &::before{
                                color: $blue;
                                position: relative;
                                top: -1px;
                                left: -1px;
                                transition: all .2s ease;
                            }
                        }
                    }

                    &:hover{
                        background: $blue;
                        a{
                            color: $white;
                            i{
                                &::before{
                                    color: $white;
                                }
                            }

                            i.icon-ico_basket{
                                background: $white;
                                &::before{
                                    color: $blue;
                                }
                            }
                        }
                    }
                }

                .basket-btn{
                    a{
                        i{
                            background: $blue;
                            padding: 6px 0 0;
                            transition: all .2s ease;

                            &::before{
                                font-size: 20px;
                                color: $bg-grey;
                                transition: all .2s ease;
                            }
                        }
                    }
                }

                .login-btn{
                    a{
                        i{
                            &::before{
                                font-size: 28px;
                            }
                        }
                    }
                }
            }


        

    }

}


@include min-responsive(laptop){

    header {
        .main-menu {
             .top-first {
                .mb-head{
                    display: none;
                    padding-top: 5px;
                }
            }
        }
    }

    .top-first{
        padding-top: 10px;
    }
}


.nearest-store {
    float: right;
    padding: 0 0 0 15px;
    position: relative;

    &::before {
        content: 'Size En Yakın';
        font-size: 10.5px;
        color: $lev-grey;
        position: absolute;
        top: 0;
        left: 15px;
    }

    a {
        color: $dark-grey;
        position: relative;
        transition: all .9s ease;
    }

    i{
        color: $blue;
        width: 30px;
        height: 30px;
        text-align: center;
        border-radius: 100%;
        display: inline-block;
        font-style: normal;
        vertical-align: middle;
        margin-right: 5px;
        
        &:before{
            font-size: 33px;
        }
    }

    span{
        vertical-align: bottom;
        display: inline-block;
        font-size: 13.5px;
        font-weight: 600;
    }
}

.btn--search{
    position: absolute;
    top: .5px;
    right: 0;
    height: 34.5px;
    padding: 0 15px;
    background: $blue;
    color: $white;
    outline: none;
    border-radius: 20px;
    z-index: 99;
    transition: all .3s ease;

    &::before{
        content: '\e924';
        font-family: $icomoon;
        color: $white;
        font-size: 14px;
        font-weight: 400;
        margin-right: 6px;
        margin-left: 6px;
    }

    &:hover{
        background: $blue;
    }
}


.top-first,.top-second{
    display: table;
    width: 100%;
}

@include responsive(laptop){
    .logo-nav, .user-main{
        display: none;
    }

    header{
         .main-menu{
            .nav-search{
                float: none;
                width: 100%;
                padding: 0;
                margin-bottom: 10px;
                display: none;

                &.is-open{
                    display: block;
                }

                .search-main{
                    margin: 0;

                }
            }
        }
    }

    .btn--search {
        top: 3px;
        right: 2px;
        height: 31px;
    }
}

.top-second{
    margin-top: 10px;
    background: $white;
}

nav{
    background: $bg-grey;
    display: block;
}

.owl-dotted.owl-slider{
    margin-bottom: 20px;
}

.owl-dots {
    bottom: -16px;
    li{
        width: 10px;
        height: 10px;
        transition: all .3s ease;
        button{
            width: 10px;
            height: 10px;
            transition: all .3s ease;
            &::before{
                font-size: 10px;
                line-height: 10px;
                width: 10px;
                height: 10px;
                transition: all .3s ease;
            }
        }
    }
}

.line-dots{
    .owl-dots{
        li{
            width: 15px;
            margin: 0 1px;

            button{
                width: 15px;
                height: 4px;
                padding: 0;

                &::before{
                    content: '';
                    background: $title-grey;
                    height: 4px;
                    width: 100%;
                    line-height: 1;
                    border-radius: 5px;
                }
            }
        }
        li.owl-active, li.active button{
            width: 25px;
        }

        li.owl-active button{
            &::before{
                content: '';
                background: $blue;
                height: 4px;
                width: 100%;
                line-height: 1;
                border-radius: 5px;
            }
        }
    }
}

.nav--item{
    float: left;
    list-style: none;

    &:last-child{
        .nav--link{
            &:before{
                display: none;
            }
        }
    }
}

.nav--link{
    color: $dark-grey;
    transition: all .3s ease;
    text-transform: uppercase;
    display: block;
    padding: 10px 0;
    font-size: 1.140em;
    font-weight: 600;
    font-family: $open-sans;
    transition: all .3s ease;

    &:before{
        content: "|";
        color: $mid-grey;
        float: right;
        padding: 3px 24.9px;
        font-size: 10px;
    }
    
    &:hover{
        color: darken($blue, 3%);
    }
}

.menu-main {
    position: relative;
}

.dropdown {
    position: absolute;
    background: #fff;
    width: 100%;
    padding: 20px;
    left: 0;
    display: none;
    transition: all .3s ease;
}


.dropdown--item {
    width: 33.333%;
    float: left;
    margin-bottom: 5px;
    height: 65px;
    overflow: hidden;
}

.dp-item--img {
    max-width: 65px;
    float: left;

    img{
        max-width: 100%;
    }
}

.dp-item--link-main {
    float: left;
    max-width: calc(100% - 65px);
}

a.dp-item--head {
    display: block;
    font-size: 12px;
    color: $light-blue;
    padding: 5px 7px;
    transition: all .3s ease;

    &:hover{
        color: $blue;
    }
}

a.dp-item--sub-link {
    font-size: 11px;
    color: $light-grey;

    &:hover{
        color: $blue;
    }

    &::after{
        content: ',';
    }

    &:last-child{
        &::after{
            display: none;
        }
    }
}

.dp-url-list {
    width: 66.666%;
    float: left;
    max-height: 325px;
    padding-right: 10px;
    overflow-y: auto;
}


.dp-banner-list{
    width: 33.333%;
    float: left;
    padding: 0 30px 0 40px;

    a{
        display: block;
        margin-bottom: 10px;
        text-align: right;
        transition: all .3s ease;

        &:hover{
            opacity: .8;
        }
    }

    img{
        max-width: 100%;
    }
}

.menu-bottom {
    float: left;
    color: #ababab;
    width: 100%;

    a{
        color: $light-grey;
        font-weight: 600;
        font-size: 12px;

        &:hover{
            color: $blue;
        }
    }
}

.overlay{
	background:#000;
	opacity:0;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
    height:100%;
    z-index: 16;
    display: none;
}


.mb-member-header{
    background: $blue;
    display: block;
    li{
        a{
            display: block;
            padding: 12px 15px 12px 15px;
            span{
                color: $white;
                font-size: 14px;
                font-weight: 400;
                margin-left: 10px;
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
}
li.mb-account{

    i{
        display: inline-block;
        vertical-align: middle;
        &::before{
            color: #fff;
            font-size: 16px;
        }
    }
}

li.mb-menu-close{
    position: absolute;
    z-index: 11;
    right: 0;
    top: 0;
}
a.btn-close{
    padding: 0;
    width: 60px;
    height: 45px;
    line-height: 2;
    text-align: right;
    i{
        &::before{
            color: #fff;
            font-size: 14px;
            content: "\e937";
            font-weight: 700;
        }
    }
}

.sub2-links {
    padding: 0 7px;
}   

.mb-top-link{
    width: 100%;
    display: table;
    table-layout: fixed;
    background: $bg-grey;
    border: 0;
    z-index: 20;
    position: relative;

    li{
        display: table-cell;
        vertical-align: middle;

        &:first-child{
            border-right: 1px solid #eaeaea;
        }

        a{
            color: $blue;
            font-weight: 600;
            display: block;
            text-align: center;
            transition: all .2s ease;
            font-size: 11px;
            padding: 12px 0;
        }
    }
}

.mb-bottom-link{
    width: 100%;
    display: table;
    table-layout: fixed;
    background: $c-333;
    border: 0;
    z-index: 20;
    position: relative;
    margin-bottom: 45px;

    li{
        display: block;
        padding: 0 20px;
        border-bottom: 1px solid $c-666;

        a{
            color: $white;
            font-weight: 400;
            display: block;
            transition: all .2s ease;
            font-size: 11px;
            padding: 12px 0;
        }
    }
}



@include min-responsive(laptop){
    .mb-member-header,.mb-bottom-link,.mb-top-link,.nav--link > i, .nav--link::after,.mb-dp-head,.mb-all-link{
        display: none;
    }

    .nav--item{
        &:hover{
            .dropdown{
                display: block;
            }
        }
    }
}


@media screen and (min-width: 991px) and (max-width: 1253px) {

    .nav--item {
        width: 11.11%;
        text-align: center;
        height: 45px;
        line-height: 1.2;
        padding-bottom: 7px;
    }

    .nav--link{
        font-size: 1em;
        width: 100%;
        height: 100%;
        padding: 0;
        position: relative;

        &:before{
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            height: 24px;
            width: 1px;
            background: $mid-grey;
            padding: 0;
        }

        span{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            width: 100%;
        }
    }

}


@include responsive(laptop){
    header{
        .main-menu{
            .top-first{
                background: #0153a6;
            }
        }
    }

    .top-second{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        margin-top: 0;
        background: $bg-grey;
        z-index: 101;
        width: 100%;
        height: 100%;


        &.is-open{
            display: block;
            transform: translateY(0px);
            animation: menuDownAnimation .3s cubic-bezier(.23,1,.32,1);
        }
    }

    nav{
        background: $white;
        display: block;
        max-width: 100%;
        margin: 0;
        min-height: 100%;
        height: calc(100% - 60px);
        width: 100%;
        overflow: auto;
        border-radius: 0;
        z-index: inherit;

        .vtn-container{
            padding: 0;
            position: unset;
        }
    }

    .menu-main{
        position: unset;
    }

    li.nav--item {
        float: none;
        width: 100%;

        &.selected{
            .dropdown{
                display: block;
                z-index: 99;
                top: 0;
                left: inherit;
                width: 100%;
                padding: 0;
                min-width: inherit;
                right: 0;
                max-width: 100%!important;
                min-height: 100%!important;
                overflow: visible!important;
                height: 100%;
                position: fixed;
                background: #fff;
            }
        }
    }

    a.nav--link {
        padding: 16px 13px;
        position: relative;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 600;
        color: $dev-grey;

        &::before{
            display: none;
        }

        &::after{
            content: "\e935";
            font-family: $icomoon;
            font-size: 15px;
            color: $light-grey;
            position: absolute;
            top: 50%;
            right: 16px;
            transform: translateY(-50%);
            transition: all .2s ease;
        }

        i{
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;

            &::before{
                color: $light-blue;
                transition: all .2s ease;
                font-size: 24px;
            }
        }
    }


    .mb-dp-head{
        display: table;
        width: 100%;
        height: 45px;
        table-layout: fixed;
        background: $blue;
        text-align: center;
        z-index: 999;

        i.mb-header-back{
            cursor: pointer;
            display: table-cell;
            vertical-align: middle;
            width: 46px;
            text-align: center;
            font-style: normal;

            &::before{
                content: '\e934';
                font-family: $icomoon;
                font-size: 12px;
                color: #fff;
            }
        }

        span{
            display: table-cell;
            vertical-align: middle;
            width: auto;
            color: #fff;
            font-size: 13px;
        }

        a.mb-header-close{
            display: table-cell;
            vertical-align: middle;
            width: 46px;
            text-align: center;
            line-height: 1;

            i{
                &::before{
                    color: #fff;
                    font-size: 14px;
                    content: "\e937";
                    font-weight: bold;
                }
            }
        }
    }

    .dp-url-list {
        width: 100%;
        height: auto;
        max-height: none;
        overflow: hidden;
        padding: 0;
        float: none;
    }

    .menu-bottom {
        //display: none;
        padding: 30px;
    }

    .dp-banner-list {
        display: none;
    }

    .mb-sub-3 {
        display: none;
    }

    .dropdown-main {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        height: calc(100% - 60px);
        overflow: auto;
    }

    .dropdown--item {
        width: 100%;
        display: table;
        table-layout: fixed;
        margin-bottom: 0;
        border-bottom: 1px solid #eee;
        padding: 8px 16px;
    }

    .dp-item--img {
        max-width: 64px;
        float: inherit;
        vertical-align: middle;
        display: table-cell;
    }

    .dp-item--link-main {
        padding: 0;
        display: table-cell;
        vertical-align: middle;
        max-height: 52px;
        float: inherit;
        width: 100%;
    }

    .sub2-links {
        padding: 0;
    }

    a.dp-item--head {
        color: $dev-grey;
        padding: 12px 10px;
        font-size: 15px;
        position: relative;

        &::after{
            content: '\e935';
            font-family: $icomoon;
            font-size: 15px;
            color: #9e9e9e;
            position: absolute;
            top: 50%;
            right: 4px;
            transition: all .2s ease;
            transform: translateY(-50%);
        }
    }


    .mb-sub-3{
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        max-height: 100%;
        padding: 0;
        height: 100%;
        z-index: 105;
        background: #fff;
        overflow: visible;
    }

    .mb-sub-2-head{
        &.selected{
            .mb-sub-3{
                display: block;
            }
        }
    }

    .mb-all-link {
        display: table;
        width: 100%;
    }

    .sub-cat-link{
        width: 100%;
        font-size: 14px;
        font-weight: 600;
        color: #424242;
        display: block;
        padding: 16px 30px 16px 16px;
        position: relative;
        border-bottom: 1px solid #eee;

        &::after{
            content: "\e935";
            font-family: $icomoon;
            font-size: 12px;
            color: #424242;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 16px;
            width: 9px;
            height: 9px;
        }
    }

    .sub2-links{
        position: absolute;
        top: 95px;
        left: 0;
        width: 100%;
        height: calc(100% - 94px);
        overflow: auto;
    }

    a.dp-item--sub-link {
        font-size: 15px;
        padding: 15px;
        border-bottom: 1px solid #eee;
        display: block;
        color: $dev-grey;

        &::after{
            display: none;
        }
    }

}


/*// Header //*/

.owl-next,.owl-prev{
    z-index: 15;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    &::before{
        font-family: $icomoon_g;
        font-size: 20px;
        color: $dark-grey;
    }
}
.owl-disabled{
    display: none;
    opacity: 0;
}
.owl-next{
    right: -5px;
    &::before{
        content: "\e905";
    }
}

.owl-prev{
    left: -5px;
    &::before{
        content: "\e906";
    }
}




.owl-next,.owl-prev{
    z-index: 15;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    &::before{
        display: none;
    }
}
.owl-disabled{
    display: none;
    opacity: 0;
}
.owl-next{
    right: -15px;
    &::before{
        content: "\e905";
    }
}

.owl-prev{
    left: -15px;
    &::before{
        content: "\e906";
    }
}



.products-main{
    width: 100%;
    transition: all .2s ease;
    background: $bg-grey;
    margin-bottom: 10px;
    float: left;
} 

.wBlue-bg{
    background: #cedbe4;
    padding: 10px 0;
}

.bg-blue{
    background: $blue;
}
  
.special-main{
    width: 100%;
    background: #fff;
    float: left;
    padding: 0;
    border-radius: 3px;
    //overflow: hidden;
    
}

.head{
    position: relative;
    width: 100%;
    display: inline-block;
    border-bottom: 2px solid $bg-grey;
    padding: 0 10px;

    &.list-head{
        background: $th-grey;
    }
}

.head-blue{
    border-color: $blue;
}

.head-title{
    margin: 15px 0;
    font-size: 18px;
    font-weight: 600;
    color: $title-grey;

    &.head-small{
        margin: 7px 0;
        font-size: 16px;
    }
}

@include responsive(tablet){
    .head-title{
        margin: 10px 0;
        font-size: 15px;
    }
}

.tx-center{
    text-align: center
}


.all-product-link{
    position: absolute;
    top: 17px;
    right: 10px;
    a{
        padding: 9px 25px;
        color: $dark-grey;
        border: 1px solid #d0d0d0;
        border-radius: 30px;
        transition: all .3s ease;
        &:hover{
            color: $light-blue;
        }
        span{
            font-weight: 600;
            font-size: 12px;
            display: inline-block;
            vertical-align: middle;
            transition: all .3s ease;
            text-transform: uppercase;
            &:hover{
                padding-right: 5px;
            }
        }
        i{
            margin-left: 3px;
            transition: all .1s ease;
            vertical-align: middle;
            &::before{
                font-size: 13px;
                transition: all .1s ease;
            }
        }
    }
}


.border-s{
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
}


.carousel-slide{

    .owl-next{
        right: -45px;
    }
    .owl-prev{
        left: -45px;
    }
    .owl-next,.owl-prev{
        background: #e5e5e5;
        height: 80px;
        &:before{
            font-size: 30px;
            color: $dark-grey;
        }
    }
    .owl-disabled{
        display: none !important;
    }
}


@include responsive(desktop){

    .carousel-slide{

        .owl-next,.owl-prev{
            height: 70px;
            width: 35px;
            &:before{
                color: $dark-grey;
            }
        }

        .owl-next{
            right: -10px;
        }
        .owl-prev{
            left: -10px;
        }
    } 
}

@include responsive(laptop){
    
    .carousel-slide{


        .owl-prev, .owl-next{
            width: 30px;
            &:before{
                font-size: 22px;
            }
        }

        .owl-next{
            right: -5px;
        }
        .owl-prev{
            left: -5px;
        }
    }
}





/*// Main //*/

main{
    margin-top: 10px;
}

/*// Footer //*/

footer{
    width: 100%;
    display: inline-block;
    background: $white;
    text-align: center;
    border-top: 1px solid $fav-grey;
    padding-bottom: 40px;
    .footer-top{
        margin: 0 auto;
        max-width: 1040px;
        width: 100%;
        padding: 10px 10px;
        display: inline-block;
    }
}    

    .footer-top-item{
        float: left;
        width: 25%;
        text-align: center;
        vertical-align: top;
        padding: 21px 10px;

        .item-icon{
            background: #e8f9ef;
            padding: 8px;
            width: 90px;
            height: 90px;
            text-align: center;
            border-radius: 50%;
            margin: 0 auto;
            position: relative;

            i{  
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                &::before{
                    font-size: 35px;
                    color: #15c060;
                }
            }

            &.bg-blue{
                background: #e9f5fe;
                i{
                    &::before{
                        color: #2196f3;
                    }
                }
            }
            
            
        }

        .item-text{
            padding: 10px 20px;

            span{
                width: 100%;
                margin: 0;
                font-weight: 600;
                font-size: 14px;
                line-height: 1;
                color: $dark-grey;
                padding-bottom: 5px;
                display: inline-block;
            }
            p{
                margin: 0;
                font-size: 12px;
                color: $dev-grey;
            }
        }
    }

    .footer-social{
        background: $light-blue;
        width: 100%;
        margin-bottom: 60px;
        ul{
            margin: 0 auto;
            display: table;
            max-width: 935px;
            width: 100%;
            li{
                width: 20%;
                float: left;
                vertical-align: middle;
                text-align: left;
                transition: all .3s ease;
                a{
                    display: block;
                    padding: 14px 0;
                    text-align: center;
                }
                i{
                    display: inline-block;
                    &::before{
                        color: $white;
                        font-size: 22px;
                    }
                }

                span{
                    color: #fff;
                    text-transform: uppercase;
                    font-size: 12px;
                    vertical-align: super;
                }

                
            }
        }
    }

    .footer-store{
        width: 100%;
        margin: 30px 0 50px 0;
        display: inline-block;
        
        .vtn-btn{
            float: left;
            vertical-align: top;
            width: 25%;
            a{
                display: block;
                width: 100%;
                border: 1px solid $fav-grey;
                text-align: center;
                padding: 12.5px 0;
                border-radius: 3px;
                &:hover{
                    border: 1px solid #2196f3;
                }
            }
            i{
                display: inline-block;
                vertical-align: middle;
                color: $dev-grey;
            }
            span{
                font-weight: 600;
                margin-left: 10px;
                font-size: 14px;
                display: inline-block;
                vertical-align: middle;
                color: $dev-grey;
            }
        }
        .store-btn{
            float: none;
            display: inline-block;
            margin: 0 15px;
        }
    }


.footer-menu {
    width: 100%;
    display: inline-block;
}

.footer-menu--main {
    margin: auto;
    padding: 0 20px;
    width: 100%;
    max-width: 1240px;
}

.footer-menu--category, .footer-menu--special {
    width: 40%;
    float: left;
}

.footer-menu--about{
    width: 20%;
    float: left;
}

.footer-menu--head{
    color: $dev-grey;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 15px;
}

.footer-menu--link{
    width: 50%;
    float: left;
    font-size: 12px;
    color: $dev-grey;
    line-height: 1;
    display: block;
    padding: 10px 10px 10px 0;
    text-align: left;
    font-weight: 400;
    transition: all .3s ease;

    &:hover{
        color: $dark-grey;
    }
}

.footer-menu--about{
    .footer-menu--link{
        width: 100%;
    }
}


.footer-about-tx {
    margin-top: 40px;

    p {
        margin-bottom: 20px;
        text-align: left;
        font-size: 13px;
        font-weight: 400;
    }

    a{
        color: $dark-grey;
        font-weight: 700;
    }

    .showFooterText,.hiddenFooterText{
        color: $blue;
        text-transform: uppercase;
    }

    .showFooterText{
        &::after{
            content: '\e903';
            font-family: $icomoon_g;
            font-size: 15px;
            width: 20px;
            height: 10px;
            position: absolute;
        }
    }

    .hiddenFooterText{
        &::after{
            content: '\e902';
            font-family: $icomoon_g;
            font-size: 15px;
            width: 20px;
            height: 10px;
            position: absolute;
        }
    }

}

.footer-about--hidden_tx{
    display: none;
    transition: all .3s ease;
}

.footer-about--hidden_tx{
    &.show{
        display: block;
    }
}

.footer-app {
    width: 100%;
    margin: 50px 0;
}

.footer-app--main {
    text-align: left;
}

a.footer-app--link {
    margin-right: 10px;
    display: inline-block;
}

.footer-corparate {
    border-top: 1px solid $fav-grey;
    width: 100%;
    padding-top: 40px;
    display: inline-block;
}

.footer-corparate-main {
    width: 50%;
    float: left;
}

.corparate--info{
    text-align: left;

    h1{
        font-weight: 600;
        font-size: 12px;
        color: $light-grey;
        margin: 0;
        padding-bottom: 10px;
    }
    p{
        font-size: 12px;
        font-weight: 400px;
        color: $light-grey;
        margin: 0;
    }
}

.corparate--payicon{
    text-align: right;

    img{
        display: inline-block;
        max-width: 100%;
        margin-top: 40px;
    }
}





@include responsive(laptop){

    footer{
        border-bottom: 4px solid #2196f3;
    }

    .footer-corparate-main {
        width: 100%;
    }
    
    .corparate--info{
        text-align: center;
    }
    .corparate--app{
        text-align: center;
        margin-top: 30px;
    }
    .corparate--payicon{
        text-align: center;
        margin-top: 30px;
    }

    footer{
        .footer-top-item{
            width: 50%;
            padding: 12px 10px;

            .item-icon{
                float: none;
                margin: 0 auto;
                display: block;
                margin-bottom: 13px;
                text-align: center;
            }
            .item-text{
                padding: 0;
                text-align: center;
            }
        }

        .footer-store{
            display: inline-block;
            .footer-store-cta-main{
                padding: 0 40px 40px 40px;
            }

            .vtn-btn{
                margin-bottom: 20px;
                padding: 0;
                &:last-child{
                    margin-bottom: 0;
                }

                span{
                    font-size: 13px;
                }
                a{
                    background: #f5f5f5;
                    padding: 13px 0;
                    border-color: #f5f5f5;
                }
            }
        }
    }

    .footer-social{
        ul{
            li{
                span{
                    display: none;
                }

                i{
                    &::before{
                        font-size: 20px;
                    }
                }
            }
        }
    }

    .footer-about-tx {
        p{
            font-size: 12px;
        }
    }

    .footer-top-item{
        .item-icon{
            width: 75px;
            height: 75px;

            i{
                &::before{
                    font-size: 26px;
                }
            }
        }

        .item-text{
            span{
                font-size: 13px;
            }

            p{
                font-size: 11px;
            }
        }
    }


    .footer-menu--main{
        padding: 0 15px;
    }

    .footer-cards--item{
        margin-bottom: 15px;
        h3{
            font-size: 12px;
        }
        img{
            margin-bottom: 5px;
        }
    }
}

@include responsive(tablet){
    .footer-app--main{
        text-align: center;
    }
}


.app-btn {
    text-align: center;
    border-radius: 3px;
    float: right;
    margin-left: 15px;
    
    a{  
        display: block;
        width: 100%;
        height: 100%;
        transition: all .3s ease;

    }
    
}


@include responsive(laptop){
    .app-btn{
        float: none;
        display: inline-block;
        padding: 0 10px;
        max-width: 50%;
        margin-left: 0;
    }    
}


.footer-cards{
    margin-bottom: 50px;
}

.footer-cards--item {
    width: 16.6666%;
    display: inline-block;
    text-align: center;

    img{
        margin: 0 auto;
        margin-bottom: 10px;
    }

    h3{
        font-size: 13px;
        font-weight: 600;
    }
}

@include responsive(mobile){

    .corparate--info{
        h1{
            font-size: 12px;
        }
    }
    .footer-cards--item {
        width: 33.333%;
        display: inline-block;
        text-align: center;
        margin-bottom: 20px;
    }

    footer{
        .footer-store{
            .vtn-btn{
                width: 100%;
                margin: 0;
                margin-bottom: 20px;
            }
        }
    }
}



/*// Footer //*/





.owl-carousel{
    .owl-nav {
        position: absolute;
        width: 100%;
        text-align: center;
        top: 50%;
        margin-top: -9px;
        z-index: 3;
    
        button.owl-next,
        button.owl-prev{
            background: $th-grey;
            border-radius: 5px;
            outline: none;
            &:focus{
                outline: none;
            }
            span{
                display: none;
            }
            &::after{
                color: $light-grey;
                font-size:18px;
                font-family: $icomoon_g,
            }
        }
    
        .owl-prev,.owl-next{
            &::after{
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .owl-prev{
            &::after{
                content: "\e901";
            }
        }
    
        .owl-next{
            &::after{
                content: "\e900";
            }
        }
    
        .disabled {
            opacity: .4;
            cursor: default;
            display: none;
        }
    }

    &.thumb--img{
        text-align: center;
        position: relative;
        margin: 0 auto;
        max-width: 372px;
        overflow: visible;
        margin-top: 15px;

        .owl-stage {
            display: inline-block;
        }
    }


    .owl-dots {
        width: 100%;
        text-align: center;
        padding: 5px 0 0;
    }



    button.owl-dot {
        outline: none;
        span{
            width: 10px;
            height: 10px;
            background: #ffffff;
            display: block;
            margin: 6px;
            border-radius: 50%;
            border: 1px solid $blue;
        }
    }

    button.owl-dot{
        &.active{
            span{
                background: $blue;
            }
        }
    }
}

@include responsive(tablet){
    .lightbox-big--img{
        button.owl-dot{
            width: 20px;
            height: 10px;
            span{
                margin: 0 auto !important;
            }
        }
    }
}


@include responsive(mobile){

    .owl-carousel{ 
        button.owl-dot{ 
            span{
                width: 8px;
                height: 8px;
                display: block;
                margin: 3px;
            }
        }
    }

}


.star{
    width: 92px;
    height: 17px;
    background: url('../images/stars.svg') no-repeat;
    position: relative;
    display: inline-block;
    a{
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 12;
    }

    span{
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        background: url('../images/stars-score.svg') no-repeat;
        z-index: 11;
    }
}


.head-text{
    font-weight: 600;
    color: $dev-grey;
    font-size: 14px;
    margin-bottom: 10px;
}



.tab-head {
    width: 100%;
    background: $blue;
    border-radius: 4px;
    padding: 10px;
    float: left;
}

.tab-item {
    color: $white;
    float: left;
    font-weight: 600;
    text-align: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 10px;
    transition: all .3s ease;

    &.active{
        background: $white;
        color: $blue;
    }

    &:hover{
        background: $white;
        color: $blue;
    }
}







table {
    border-collapse: collapse;
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    width: 100%;

    &.table-responsive{
        table-layout: fixed;
        display: table;
      }
  }
  
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
table thead {
    
    tr{
        background: $th-grey;
    }
    th{
        font-weight: 600;
    }
}

  table tr {
    border: 1px solid $th-grey;
    padding: .35em;
    
    &:hover{
        background: $exlight-blue;
    }
  }
  
  table th,
  table td {
    padding: .8em;
    text-align: left;
    text-align: center;
  }
  

  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table.table-responsive thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
 
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }



  .commnet-item {
    float: left;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}

.comment-text {
    margin-left: 30px;
    background: #f2f3f5;
    border-radius: 25px;
    position: relative;
    padding: 10px;
    padding-left: 60px;
    min-height: 65px;
    float: left;
    width: calc(100% - 30px);

    img{
        position: absolute;
        top: 3px;
        left: -20px;
        border: 3px solid #fff;
        border-radius: 50%;
    }

    .star {
        margin-left: -17px;
        margin-top: -3px;
    }

    h3{
        width: 100%;
        float: left;
        font-size: 15px;
        font-weight: 600;
        margin: 2px 0;
    }

    p{
        width: 100%;
        float: left;
        font-size: 13px;
        font-weight: 400;
    }
}


.comment-botttom {
    float: left;
    width: calc(100% - 90px);
    margin: 10px 0 10px 90px;
    

    .name-content {
        display: inline-block;
        min-width: 200px;


        h3{
            font-weight: 600;
            font-size: 15px;
        }

        span{
            font-weight: 400;
            font-size: 11px;
        }
    }

    .like-contnt {
        display: inline-block;
    }

    span.like-question {
        font-size: 11px;
        font-weight: 400;
    }

    .btn-fav{
        i{
            margin: 0 3px 0 10px;

            &:before{
                padding: 8px;
                border-radius: 50%;
            }

            &.icong-likebutton{
                &::before{
                    color: $white;
                    background: $green;
                }
            }

            &.icong-disslikebutton{
                &::before{
                    color: $white;
                    background: $vtn-red;
                }
            }
        }
    }

    .like-sum{
        color: $green;
    }

    
    .disslike-sum{
        color: $vtn-red;
    }
}

.commnet-sub-item {
    float: left;
    width: calc(100% - 70px);
    margin-left: 70px;
    margin-top: 15px;
}


@include responsive(mobile){

    .comment-botttom {
        margin: 0;
        padding: 10px 0 10px 30px;
        width: 100%;

        span.like-question{
            width: 50%;
            display: inline-block;
            vertical-align: middle;
        }
    }

    .commnet-sub-item {
        width: calc(100% - 15px);
        margin-left: 15px;
    }

}


@include responsive(iphoneXs){
    .comment-botttom {
        span.like-question {
            width: 100%;
            display: block;
            margin-bottom: 10px;
        }
    }
}



.lightbox-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: .8;
    display: block;
    z-index: 99;
    top: 0;
    left: 0;
    display: none;
}





.dt-bradcrumb{
    line-height: 2;
}

a.bradcrumb-item {
    color: #9e9e9e;
    font-size: 12px;
    position: relative;
    transition: all .3s ease;

    &:hover{
        color: $light-blue;
    }

    &::after{
        content: "\e905";
        font-family: icomoon_g;
        padding-left: 5px;
        width: 10px;
        height: 10px;
        font-size: 15px;
        vertical-align: middle;
    }

    &:last-child{
        color: #84c3f3;
        &::after{
            display: none;
        }
    }
}

@include responsive(laptop){
    .dt-bradcrumb{
        display: none;
    }

    a.bradcrumb-item{
        font-size: 11px;
        
        &:last-child{
            color: $blue;
            font-weight: 700;
        }
    }
}


.pagination{
    display: inline-block;
    width: 100%;
    padding: 20px 0 0;
    margin: 20px 0;
    text-align: center;
    border-top: 1px solid #ececec;

    li{
        display: inline-block;
        margin: 5px;

        a{
            color: $lev-grey;
            font-size: 17px;
            width: 40px;
            height: 40px;
            display: block;
            background: $tr-grey;
            border-radius: 50%;
            padding: 8px;
            font-weight: 600;
            transition: all .3s ease;

            &:hover{
                background: $blue;
                color: $white;
            }
        }

        &.active{
            a{
                color: $white;
                background: $blue;
            }
        }

    }
}


.product-pic-slider{
    .owl-dots {
        position: absolute;
        bottom: 0;
        z-index: 99;
        display: none;
    }
    &:hover{
        .owl-dots{
            display: block;
        }
    }
}



.thumb-slider{
    .owl-dots {
        width: 100%;
        text-align: center;
        padding: 5px 0 0;
        background: $white;
    }

    .owl-dot {
        display: inline-block;
        margin: 0 5px;
        border-bottom: 3px solid transparent;

        &.active{
            border-bottom: 3px solid $blue;
        }
    }
}

.compare-area {
    position: fixed;
    width: 100%;
    bottom: 0;
    background: #fff;
    padding: 10px;
    border-top: 2px solid #2196f3;
    z-index: 15;
}

.compare-main {
    float: left;
    width: 80%;
}

.compare-item {
    float: left;
    width: 25%;
    border: 0;
    border-right: 1px solid #e0e0e0;
    margin-bottom: 0;
    margin-right: 0;
    padding: 0;

    &:last-child{
        border-right-color: transparent;
    }

    img{
        float: left;
        width: 55px;
    }

    h3 {
        height: 30px;
        overflow: hidden;
        a{
            font-size: 12px;
            color: $dark-grey;
        }
    }

    .compare-price{
        color: $light-blue;
        font-weight: 600;
        font-size: 12px;
        margin-top: 10px;
    }
}

.compare-item-info {
    float: left;
    width: calc(100% - 60px);
    padding: 0 15px;
}



.compare-action-area {
    float: left;
    text-align: right;
    width: 20%;
    margin-top: 5px;
}

a.clear-compare {
    font-weight: 600;
    padding: 10px;
    margin: 10px;
    font-size: 14px;
}



@include min-responsive(desktop){
    .footer-menu--main {
        padding-left: 110px;
        max-width: 1140px;
    }
}


.search-result{
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    z-index: 90;
    border: 1px solid #d6d6d6;
    display: none;
}

.search-result-main{
    background: $white;
    padding-right: 20px;
    overflow: auto;
    max-height: 460px;
}

.search-result-prd {
    display: inline-block;
    width: 60%;
    vertical-align: top;
    background: #fff;
    padding: 30px 20px 20px;
    border-right: 1px solid $th-grey;

    h3 {
        font-size: 13px;
        color: $lev-grey;
        padding: 0 0 10px 0;
        font-weight: 400;
    }
}

.search-result-prd-item {
    padding: 10px 0;
    display: table;
    width: 100%;
    cursor: pointer;
    border-bottom: 1px solid $th-grey;
    transition: all .3s ease;

    &:last-child{
        border-bottom: none;
    }

    &:hover{
        opacity: .8;
    }
    
    a{
        color: $dark-grey;
    }

    img{
        width: 50px;
        display: inline-table;
        max-width: 50px;
    }
}

.search-result-prd-name {
    display: inline-table;
    width: calc(100% - 50px);
    padding-left: 10px;
}


.search-result-cat{
    display: inline-block;
    width: 40%;
    vertical-align: top;
    padding: 30px 20px 20px;

    h3 {
        font-size: 13px;
        color: $lev-grey;
        padding: 0 0 10px 0;
        font-weight: 400;
    }
}

.search-result-cat-item {
    padding: 5px 0;
    display: table;
    width: 100%;
    cursor: pointer;
    transition: all .3s ease;
    font-weight: 600;

    &:hover{
        opacity: .8;
    }
    
    a{
        color: $dark-grey;
    }

}



@include responsive(tablet){

    .search-result-prd {
        width: 100%;
        border: none;
    }

    .search-result-cat {
        width: 100%;
    }

}




.basket-open {
    position: absolute;
    right: 15px;
    top: 36px;
    background: #fff;
    border: 1px solid #ccc;
    z-index: 555;
    padding: 10px;
    display: none;
}


.special-pro-area {
    width: 350px;
    position: fixed;
    bottom: 50px;
    right: 100px;
    z-index: 999;
}

.guide {
    padding: 10px;
    background: #2196f3;
    color: #fff;

    a{
        color: #fff;
    }
}