@import 'default.scss';
@import 'product-box.scss';




.dt-area{
    background: linear-gradient(90deg, $white 50%, $supergrey 50%);
}

.dt-main{
    width: 50%;
    float: left;
    padding: 12px 25px 0;
}

.dt-content{
    margin-bottom: 32px;

    &:last-child{
        margin-bottom: 10px;
    }
}


@include responsive(laptop){
    body{
        padding-bottom: 80px;
    }
}

@include responsive(mobile){

    main{
        margin-top: 0;
    }
    .prdDt{
        .vtn-container{
            padding: 0;
        }
    }
}


.prd-left-content{
    position: relative;
}


@include responsive(laptop){
    .prd-left-content{
        margin-top: 31px;
    }

}

.big--img{
    margin: 10px 0 0;

    a{
        cursor: zoom-in;
    }

    img{
        max-width: 88%;
        margin: 0 auto;
        width: auto !important;
    }
}


.big--img {
    .owl-nav {
        display: none;

        .owl-prev,.owl-next{
            width: 30px;
            height: 48px;
            position: absolute;
        }

        .owl-prev {
            transform: none;
            left: 24px;
        }

        .owl-next {
            transform: none;
            right: 24px;
        }
    }

    &:hover{
        .owl-nav{
            display: block;
        }
    }

}

.thumb-item{
    img{
        border-radius: 4px;
        border: 2px solid;
        border-color: transparent;
    }
}

.active-border{
    img{
        border-color: $blue;
    }
}

@include responsive(laptop){
    .dt-main{
        width: 100%;
        padding: 12px 15px;
    }

    .dt-area{
        background: $white;
    }

    .big--img{
        img{
            max-height: 400px;
        }
    }

    .thumb--img{
        display: none !important;
    }
    
}


 @include responsive(mobile){
    .big--img{
        img{
            max-height: 220px;
        }
    }
 }


.dt-mini-property{
    margin: 15px 0;
    ul{
        width: 100%;
        float: left;
    }
    li{
        width: 50%;
        margin-bottom: 7px;
        font-size: 13px;
        line-height: 1.3;
        float: left;

        strong{
            width: 50%;
            padding-right: 16px;
            font-weight: 500;
            float: left;
        }

        span{
            width: 50%;
            padding-right: 32px;
            float: left;
            font-weight: normal;
        }
    }
}

.go-all-property{
    display: block;
    font-weight: 600;
    font-size: 13px;
}

.dt-video-icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 55px;
    z-index: 12;

    &::after{
        content: '\ea9d';
        position: relative;
        color: $blue;
        font-family: $icomoon_g;
        font-size: 2.7rem;
        line-height: 1;
        z-index: 12;
    }

    &::before{
        content: '';
        position: absolute;
        top: 9px;
        right: 29px;
        background: $white;
        font-size: 13px;
        padding: 5px;
        min-width: 20px;
        min-height: 20px;
        line-height: 1;
        text-align: center;
        z-index: 10;
    }
}

@include responsive(mobile){

    .dt-video-icon {
        width: 35px;
        height: 35px;

        &::before{
            right: 10px;
            min-width: 15px;
            min-height: 15px;
            top: 8px;
        }
        &::after{
            font-size: 1.7rem;
        }
    }
    .dt-mini-property{
        margin-bottom: 0;
        li{
            width: 100%;
            font-size: 11px;
            line-height: 1.2;

            &:nth-child(+n+5){
                display: none;
            }
        }
    }
}


.dt-brand{
    margin-bottom: 0;
    text-align: center;

    a{
        display: inline-block;
        vertical-align: middle;
    }

    img{
        height: 50px;
    }

    span{
        display: inline-block;
        vertical-align: middle;
        font-weight: 400;
        font-size: 13px;
        color: $dev-grey;
        height: 30px;
        line-height: 30px;
        padding-left: 20px;
        border-left: 1px solid #e5e5e5;
    }
}


.score-main{
    width: 50%;
    float: left;
}

.dt-comment {
    display: inline-block;
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid #dadada;

    a{
        color: $dark-grey;
        font-weight: 500;
        transition: all .3s ease;

        &:hover{
            color: $blue;
        }
    }
}

.dt-id{
    text-align: right;
    font-weight: 400;
}


.dt-name {
    h1{
        color: $dark-grey;
        font-size: 20px;
        font-weight: 500;
    }
}


@include responsive(mobile){

    .dt-content{
        margin-bottom: 15px;
    }

    .dt-name {
        h1{
            font-size: 15px;
        }
    }

    .dt-brand{
        display: none;
    }

    .dt-comment {
        font-size: 11px;
    }

    .dt-id {
        font-size: 11px;
    }
}




@include responsive(iphoneXs){

    .dt-name {
        h1{
            font-size: 12px;
        }
    }

}



.disc-rate {
    font-size: 16px;
    line-height: 1.2;
    display: inline-block;
    padding: 10px 0;
    max-width: 62px;
    text-align: center;
    background: $vtn-red;
    color: $white;
    font-weight: 500;
    border-radius: 4px;
    margin-right: 15px;

}

.price-main {
    display: inline-block;
    vertical-align: bottom;
}

.old-price {
    font-size: 1.6em;
    line-height: 1;
    color: $light-grey;
    text-decoration: line-through;
}

.new-price {
    font-size: 3em;
    line-height: 1;
    color: $blue;
    font-weight: 700;
    letter-spacing: -1px;
}

span.new-price--money {
    font-size: .6em;
}


.head-text--md{
    span{
        font-size: .8rem;
        font-weight: normal;
        color: $light-grey;
        margin-left: 5px;
    }
}



a.dt-option-item {
    padding: 8px 13px;
    margin-bottom: 5px;
    display: inline-block;
    background: #fff;
    color: #424242;
    border: 1px solid #ccc;
    border-radius: 3px;
    transition: all .3s ease;

    &:hover{
        border-color: $blue;
    }

    &:first-of-type{
        margin-left: 0;
    }

    &.active{
        border-color: $blue;
    }
}

.dt-vatan-special {
    position: relative;
}

.vtn-special-item{
    font-weight: 600;
    float: left;
    padding: 5px;
    background: $soft-blue;
    color: $light-blue;
    margin-right: 10px;
    border-radius: 3px;
    max-width: 20%;
    height: 36px;
    cursor: help;
    position: relative;
    transition: all .3s ease;

    &:nth-child(5){
        margin-right: 0;
        
    }

    &:first-of-type{
        span{
            line-height: 2;
        }
    }


    i{
        font-size: 20px;
        vertical-align: middle;
        display: inline-block;
        
        &::before{
            color: $light-blue;
        }
    }

    span{
        vertical-align: middle;
        text-transform: uppercase;
        max-width: 62.8px;
        margin-left: 2px;
        line-height: 1;
        display: inline-block;
        margin-right: 3px;
    }

    &.active{
        &::after{
            top: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(136,183,213,0);
            border-top-color: $soft-blue;
            border-width: 8px;
            margin-left: -8px;
        }
    }

    &.sp--freecargo{
        background: $soft-green;
        color: $green;

        &::after{
            border-top-color: $soft-green;
        }

        i{
            &::before{
                color: $green;
            }
        }
    }

    &.sp--cargotoday{
        background: $soft-green;
        color: $green;

        &::after{
            border-top-color: $soft-green;
        }

        i{
            &::before{
                color: $green;
            }
        }
    }

    &.sp--motocargo{
        background: $soft-blue;
        &::after{
            border-top-color: $soft-blue;
        }
    }

    &.sp--deliverytoday{
        background: $soft-blue;
        &::after{
            border-top-color: $soft-blue;
        }
    }

    &:hover{
        opacity: .9;
    }
}

@include responsive(laptop){
    .vtn-special-item{
        margin-bottom: 10px;
    }
}

.vtn-special-text{
    float: left;
    width: 100%;
    p{
        display: none;
        width: 100%;
        padding: 15px;
        color: $white;
        font-weight: 400;
        font-size: 12.5px;
        transition: all .3s ease;
        position: absolute;
        top: 50px;
        background: #0c0c0cd9;
        z-index: 12;

        &.active{
            display: block;
        }
    }

}


@include responsive(laptop){
    .dt-name {
        text-align: center;
        h1{
            text-align: center;
        }
    }

    .dt-score {
        position: absolute;
        top: 15px;
        left: 0;
    }

    .dt-code{
        display: none;
    }

    .dt-stars{
        width: 100%;
        max-width: 100%;
        text-align: center;

        .star{
            width: 60px;
            height: 11px;
            background-repeat: no-repeat;
            background-size: cover;

            span{
                background-size: cover;
            }
        }
    }

    .dt-price{
        float: none;
        display: inline-block;
        text-align: center;
    }
}



@include responsive(mobile){

    .dt-vatan-special {
        text-align: center;
    }
    .vtn-special-item{
        max-width: 32%;
        text-align: center;
        height: auto;
        float: none;
        display: inline-block;

        i{
            display: block;
            margin-bottom: 3px;
        }
    }
}




a.dt-property-item {
    float: left;
    width: 33.333%;
    padding-left: 18px;
    font-size: 12.5px;
    color: $dev-grey;
    position: relative;
    transition: all .3s ease;

    &:hover{
        color: lighten($dev-grey, 15%)
    }

    &::before{
        font-size: 14px;
        font-family: $icomoon_g;
        vertical-align: middle;
        position: absolute;
        left: 0;
    }

    &.item-property{
        &::before{
            content: '\e91a';
        }
    }

    &.item-compare{
        &::before{
            content: '\e90e';
        }
    }

    &.item-notification{
        &::before{
            content: '\e919';
        }
    }

    &.item-stores{
        &::before{
            content: '\e918';
        }
    }
}


@include responsive(mobile){
    a.dt-property-item{
        width: 50%;
   }
}


@include responsive(iphoneLg){
    a.dt-property-item{
        font-size: 11.5px;

    }
}


.prd-quantity{
    float: left;
    margin-right: 10px;
    position: relative;
    width: 100px;
}

.quantity-main{
    float: left;
    position: relative;

    &::after{
        font-weight: 600;
        font-size: 11px;
        content: "Adet";
        position: absolute;
        left: 50%;
        bottom: 6px;
        transform: translate(-50%);
    }
}



.btn-increase,.btn-decrease{
    font-weight: 700;
    width: 30px;
    height: 50px;
    padding: 0;
    font-size: 25px;
    border-radius: 0;
    float: left;
    color: $dark-grey;
    background: #dadada;
    border: 1px solid transparent;
    outline: none;

    &:focus{
        outline: none;
        box-shadow: none;
        border-color: rgb(171, 171, 171);
        background: #ababab;
        color: $white;   
    }
}

.btn-decrease {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: 0;
}

.btn-increase {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: 0;
}

input.quantity{
    float: left;
    height: 50px;
    width: 40px;
    border: 1px solid #dadada;
    border-right: none;
    border-left: none;
    background: $white;
    text-align: center;
    padding-bottom: 12px;
    font-weight: 700;
    
}

.prd-basket{
    float: left;
    width: calc(100% - 110px);
}

button#btnBasket {
    background: $green;
    color: $white;
    height: 50px;
    border-radius: 4px;
    text-transform: uppercase;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    transition: all .3s ease;

    &:hover{
        background: lighten($green, 5%);
    }
}

.prd-favorite{
    width: 60px;
    height: 60px;
    background: $fav-grey;
    padding: 0;
    border-radius: 3px;
    margin-left: 10px;
    float: left;
    transition: all .3s ease;

    &:hover{
        background: $light-blue;
    }

    &::after{
        font-family: 'icomoon';
        content: '\e90f';
        color: #fff;
        font-size: 20px;
        padding: 15px 0;
        display: block;
        text-align: center;
    }
}


@include responsive(laptop){
    
    .prd-quantity{
        margin-right: 0;
        width: 145px;
    }

    .btn-increase, .btn-decrease{
        width: 50px;
        height: 80px;
        border: 1px solid #dadada;
    }

    input.quantity{
        height: 80px;
        width: 45px;
    }

    .prd-basket{
        width: calc(100% - 145px);
    }

    button#btnBasket{
        border-radius: 0;
        height: 80px;
    }

    .dt-shop-btn {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        margin-bottom: 0;
        width: 100%;
        z-index: 16;
        padding: 0;
    }

}


.dt-bundle-item {
    width: 32%;
    padding: 7px 10px 5px;
    background: $white;
    border-radius: 7px;
    border: 1px solid transparent;
    text-align: center;
    float: left;
    margin-left: 2%;
    position: relative;

    &:first-of-type{
        margin-left: 0;
    }
    
    a.buybtn{
        position: absolute;
        left: 10px;
        top: 10px;
        width: 23px;
        height: 23px;
        background: $green;
        color: $white;
        border-radius: 50%;
        text-align: center;
        font-size: 25px;
        line-height: .8;
        transition: all .3s ease;

        &::before{
            content: '+';
        }

        &:hover{
            background: $green;
        }
    }

    &.active{
        border-color: $green;

        a.buybtn{
            background: $green;
            font-size: 16px;
            line-height: 1.4;
    
            &::before{
                content: '\002714';
            }
        }
    }

    img{
        margin: 0 auto;
        margin-bottom: 7px;
        max-width: 50px;
    }

    h2 {
        font-size: 11px;
        font-weight: 400;
        margin-bottom: 3px;
        a{
            color: $dark-grey;
            display: block;
            height: 27px;
            overflow: hidden;
        }
    }
}

span.bundle-price-old {
    font-size: 12px;
    text-decoration: line-through;
    color: $light-grey;
    margin-right: 5px;
}


span.bundle-price-new {
    font-size: 15px;
    color: $blue;
    font-weight: 600;
}



@include responsive(mobile){

    .dt-shop-btn{
        background: $white;
    }

    .prd-quantity {
        width: 110px;
    }

    .btn-decrease, .btn-increase{
        width: 40px;
        height: 60px;
    }

    input.quantity {
        height: 60px;
        width: 30px;
    }

    .prd-basket {
        width: calc(100% - 110px);
    }

    button#btnBasket {
        height: 60px;
    }

    .head-text{
        font-size: 12px;
    }

    .dt-bundle-item {
        width: 100%;
        margin-bottom: 15px;
        margin-left: 0;
        text-align: left;

        a.buybtn {
            right: 10px;
            left: auto;
            top: 50%;
            transform: translateY(-50%);
        }

        img {
            display: inline-block;
            max-width: 50px;
            margin-bottom: 0;
        }

        h2 {
            font-size: 12px;
        }
    }

    span.bundle-price-old{
        font-size: 11px;
    }

    span.bundle-price-new{
        font-size: 13px;
    }

    .bundle-price {
        display: inline-block;
    }

    .dt-bundle-item .select-item-area {
        padding: 0 10px;
        display: inline-block;
    }
}





.dt-warranty {
    background: #fff;
    border-radius: 4px;
    padding: 20px 15px 20px 85px;
    position: relative;

    h2 {
        font-weight: 700;
        font-size: 1rem;
        a{
            color: $dev-grey;
            &:hover{
                color: $light-blue
            }
        }
    }

    a.helper{
        font-size: 12px;
        font-weight: 400;
        color: $blue;
        &:hover{
            color: $light-blue
        }
    }


    &::after{
        position: absolute;
        top: 15px;
        right: 20px;
        width: 30px;
        height: 40px;
        background: url('../images/kg-icon.svg') no-repeat;
        background-size: contain;
        content: "";
        z-index: 12;
    }
}


.warranty-list {
    margin-top: 15px;
}

.warranty-item {
    text-align: center;
    display: inline-block;
    margin-right: 10px;
    border-radius: 3px;
    border: 1px solid #dadada;
    transition: all .3s ease;
    position: relative;

    &:hover{
        border-color: $green;
    }

    a{
        padding: 5px 5px 0 5px;
        display: block;
    }

    h3{
        color: $dev-grey;
        font-weight: 600;
    }

    &.active{
        border-color: $green;
    }
}

a.video-help{
    position: absolute;
    top: 15px;
    left: 20px;

    &::after {
        content: "\ea9d";
        color: #cc181e;
        font-family: $icomoon_g;
        font-size: 3rem;
        line-height: 1;
        z-index: 12;
    }
}

.dt-tab.tab-head {
    border-radius: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 0 10px;
    padding-top: 20px;
}

.tab-item {
    width: 20%;
}



 @include responsive(mobile){
     .dt-tab.tab-head{
         overflow-y: scroll;
     }

     .tab-capsule{
        width: 604px;
        float: left;
     }

     .tab-item {
        width: auto;
    }
    

 }





.table-property{

    tr{
        padding: 0;
    }


    td{
        padding-left: 20px;
        font-weight: 400;
        text-align: left;

        &:first-child{
            width: 25%;
            font-weight: 600;
        }
    }
}

@include responsive(tablet){
    .table-property{

        thead{
            tr{
                background: #efedee;
            }
            th{
                display: block;
            }
        }

        tr{
            background: transparent;
            margin-bottom: 0;
            border-bottom: none;

            &:last-child{
                border-bottom: 1px solid $th-grey;
            }

            &:nth-child(even){
                background: transparent;
            }
        }

        td{
            padding-left: 0;
            text-align: center;
            border-bottom: none;
            &:first-child{
                width: 100%;
                background: $tr-grey;
            }
        }
    }
}


@include responsive(mobile){

    .dt-warranty {
        padding: 20px 15px 20px 45px;

        &::after{
            width: 24px;
            height: 27px;
        }

        h2{
            font-size: 14px;
        }

        a.helper{
            font-size: 11px;
        }
    }

    a.video-help {
        left: 10px;

        &::after{
            font-size: 1.8rem;
        }
    }

    .warranty-item{
        margin-right: 5px;
    }
}


.price-select-text {
    
    p{
        font-weight: 400;
        font-size: 12px;
        margin-bottom: 1px;
        color: #747474;
    }

    img{
        margin: 15px 0;
    }
}


.half-main {
    width: 50%;
    display: inline-table;
    padding-right: 15px;

    &:nth-child(even){
        padding-right: 0;
        padding-left: 15px;
    }
}

@include responsive(laptop){
    .half-main{
        width: 100%;
        padding-left: 0;
        padding-right: 0;

        &:nth-child(even){
            padding-left: 0;
        }
    }
}

img.price-card-logo {
    margin: 10px;
}

.select-price-table{
    font-weight: 400;

    tbody{
        tr{
            &:first-child{
                color: $light-blue;
            }
        }
    }
}


.comment-head {
    width: 100%;
    background: $tr-grey;
    padding: 5px 10px;
    float: left;
    margin-bottom: 40px
}

.head-half {
    width: 50%;
    float: left;

    &:nth-child(2){
        text-align: right;
    }
}


.head-score {
    padding: 10px 15px;
    font-size: 2rem;
    color: #2196f3;
    background: #fff;
    float: left;
    line-height: 1;
    margin-right: 15px;
}


.comment-head-text {
    font-size: 15px;
    font-weight: 600;
    margin: 4px;
}

.new-commet-btn {
    background: $light-blue;
    color: #fff;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px 20px;
    margin-top:4px;

    &:hover{
        background: lighten($light-blue, 10%);
    }
}


@include responsive(mobile){

    .head-half{
        width: 100%;
        text-align: center;
    }
}



.prdFace{
    padding-top: 35px;
}



.techContent{

    & > span{
            font-size: 18px;
            line-height: 30px;
            margin: 0;
            padding: 0;
            margin-bottom: 35px;
            display: block;
    }

    ul{
        display: inline-block;
        width: 100%;
        margin: 0!important;
    }

    li{
        display: inline-block;
        position: relative;
        width: 100%;
        margin-bottom: 8px;

        span{
            font-size: 16px;
            color: $dev-grey;
            padding-left: 25px;
            display: inline-block;
        }
    }

    img{
        display: inline-block;
    }

}

.dtPicContent{

    img{
        max-width: 100%;
    }
}

@include responsive(tablet){
    .dtPicContent{
        display: none;
    }

    .techContent{

        & > span{
                font-size: 15px;
        }
    
        li{
    
            span{
                font-size: 12px;
            }
        }
    }
}


.prd-content{

    .row {
        clear: both;
        border-top: 1px solid #e0e0e0;
        font-weight: normal;
        width: 100%;
        max-width: 900px;
        margin: 0 auto;

        img {
            display: block;
            margin: 0 auto;
        }

        & > div {
            width: 50%;
            margin: 30px 0;
        }

        span {
            font-size: 18px;
            color: #757575;
        }

        h2 {
            font-size: 30px;

            span {
                color: #424242;
            }
        }

        h3 {
            font-size: 28px;
            line-height: 30px;
            margin-bottom: 30px;
        }

        p {
            margin: 0;
        }

        .dText * {
            font-size: 15px;
            line-height: 1.3;
            font-weight: normal;
        }

        .c1 {
            display: block;
            font-size: 17px;
            margin-bottom: 7px;
        }
    }

    .clearfix:before, .clearfix:after {
        display: table;
        content: " ";
        font-size: 0;
        height: 0;
    }

    .tCol2 .left.image {
        text-align: left;

        img {
            float: left;
        }
    }

    .right.padding {
        padding: 0 35px;
    }

    .right {
        float: right;
    }


}


@media screen and (max-width: 600px){
    .prd-content{
        .row{
            & > div {
                width: 100%;
                float: none;
                padding: 0!important;
                display: inline-block;

                img {
                    width: 100%;
                }
            }
        }
    }
}


#bigPhotoContent {
    position: fixed;
    display: none;
    z-index: 9996;
    outline: 0;
    vertical-align: top;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    *{
        position: relative;
    }
}

.light-main{
    height: auto;
    background-color: #fff;
    max-width: 1100px;
    padding: 10px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: left;
    overflow: hidden;

    display: none;
    z-index: 9996;
    outline: 0;
    vertical-align: top;
    height: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    .item{
        display: block;
        img{
            width: auto;
            max-width: 100%;
            margin: 0 auto;
            max-height: 1000px;
        }
    }

    .owl-dots{
        margin-bottom: 5px;
    }

    .owl-dot{
        display: inline-block;
        padding: 2px;
        width: 50px;
        height: 50px;
        border: 1px solid transparent;
        border-radius: 3px;

        &.active{
            border-color: $blue;
        }
        img {
            max-height: 100%;
            display: block;
        }
    }
}

.dt-lightbox-content{
    width: auto;
    text-align: center;
    position: relative;
    min-height: 100%;
    overflow: hidden;
}

.light-zoom{
    float: left;
}


.big-image-content{
    width: 100%;
    background: #fff;
    float: left;
}


button.close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    border: 1px solid #ccc;
    background: transparent;
    font-weight: 400;
    font-size: 15px;
    z-index: 99;
}

.select-item-area {
    padding: 3px;
}

.bundle-checkbox{
    &:checked + label,&:not(:checked) + label{
        font-size: 17px;
        font-weight: 600;
        color: #15c060;
        vertical-align: middle;
        margin-bottom: 0;
    }

    &:checked + label:before, &:not(:checked) + label:before{
        border: 1px solid $green;
        border-radius: 50%;
    }

    &:checked + label:after{
        border-radius: 50%;  
    }
}


.warranty-checkbox{
    &:checked + label,&:not(:checked) + label{
        font-size: 14px;
        color: #15c060;
        margin-bottom: 0;
        padding-left: 16px;
        width: 49px;
    }

    &:checked + label:before, &:not(:checked) + label:before{
        border: 1px solid $green;
        border-radius: 50%;
        width: 14px;
        height: 14px;
    }

    &:checked + label:after{
        border-radius: 50%;  
    }

    &:checked + label:after,&:not(:checked) + label:after{
        width: 8px;
        height: 8px;
    }
}

.comment-form {
    clear: both;
    margin-top: 10px;
    width: 100%;
    max-width: 370px;
    margin: 30px auto;
    position: relative;
}

.comment-head-txt {
    text-align: center;
    font-size: 18px;
    display: block;
    font-weight: 600;
    text-transform: uppercase;
}

.comment-desc-txt {
    display: block;
    text-align: center;
    font-size: 13px;
    color: #424242;
    margin-bottom: 10px;
}

.comment-login-btn {
    width: 100%;
    font-size: 14px;
    color: $white;
    font-weight: 600;
    background: $light-blue;
    padding: 13px 20px;
    transition: all .3s ease;
    
    &:hover{
        color: $white;
        opacity: .9;
    }
}

.rank-txt{
    width: auto;
    display: block;
    font-size: 12px;
    color: $light-grey;
    text-align: center;
}


.rank-stars {
    text-align: center;
    margin: 5px;
    direction: rtl;
}

a.rank-item {
    display: inline-block;
    font-size: 17px;
    margin-left: -3px;

    &::before{
        color: $light-grey;
    }

    &:hover{
        &::before{
            color: $orange; 
        } 
        & ~ .rank-item{
            &::before{
                color: $orange; 
            } 
        }
    }

    &.selected{
        &::before{
            color: $orange; 
        } 
        & ~ .rank-item{
            &::before{
                color: $orange; 
            } 
        }
    }
}


.dt-image {
    padding: 0 35px;
}

@include min-responsive(desktop){
    .dt-bundle {
       // margin-top: 20px;
    }
}


.price-select-table{
    display: table;
}

.first-installment {
    a{
        margin: 10px 0 0;
        text-decoration: underline;
        color: $dark-grey;
        display: block;
        transition: all .3s ease;

        &:hover{
            opacity: .8;
        }
    }
}

.tab-main{
    padding: 20px 15px;
    float: left;
    width: 100%;
}

.tab-content{
    width: 100%;
    display: none;

    &.active{
        display: block;
    }
}