@font-face {
    font-family: icomoon;
    src: url(../fonts/icomoon/icomoon.eot);
    src: url(../fonts/icomoon/icomoon.eot?#iefix) format("embedded-opentype"),
		url(../fonts/icomoon/icomoon.woff) format("woff"),
		url(../fonts/icomoon/icomoon.ttf) format("truetype");
    font-weight: normal;
    font-style: normal 
}

@font-face {
    font-family: 'icomoon_g';
    src: url(../fonts/icomoon_g/icomoon.eot);
    src: url(../fonts/icomoon_g/icomoon.eot?#iefix) format("embedded-opentype"),
    url(../fonts/icomoon_g/icomoon.woff) format("woff"),
    url(../fonts/icomoon_g/icomoon.ttf) format("truetype"),
    url(../fonts/icomoon_g/icomoon.svg) format("svg");
    font-weight: normal;
    font-style: normal
  }

[class^=icon-],[class*=" icon-"] {
    font-family: icomoon!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

[class^=icong-],[class*=" icong-"] {
    font-family: 'icomoon_g'!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.deneme {
    font-family: 'icomoon_g';
}

.icon-ico_menuOpn:before {
    content: "\e94a"
}

.icon-ico_dot:before {
    content: "\e947"
}

.icon-ico_phone2:before {
    content: "\e948"
}

.icon-ico_user2:before {
    content: "\e949"
}

.icon-ico_kargoDate:before {
    content: "\e945"
}

.icon-ico_property:before {
    content: "\e946"
}

.icon-ico_rehber:before {
    content: "\e943"
}

.icon-ico_vatan:before {
    content: "\e944"
}

.icon-ico_location:before {
    content: "\e941"
}

.icon-ico_clock:before {
    content: "\e942"
}

.icon-ico_userMobil:before {
    content: "\e93c"
}

.icon-ico_appliances:before {
    content: "\e93d"
}

.icon-ico_bag:before {
    content: "\e93e"
}

.icon-ico_mobilMap:before {
    content: "\e93f"
}

.icon-ico_mobilPhone:before {
    content: "\e940"
}

.icon-ico_hand:before {
    content: "\e938"
}

.icon-ico_hand-down:before {
    content: "\e939"
}

.icon-ico_hand-line:before {
    content: "\e93a"
}

.icon-ico_hand-line-down:before {
    content: "\e93b"
}

.icon-ico_arwBottom:before {
    content: "\e933"
}

.icon-ico_arwLeft:before {
    content: "\e934"
}

.icon-ico_arwRight:before {
    content: "\e935"
}

.icon-ico_arwTop:before {
    content: "\e936"
}

.icon-ico_close:before {
    content: "\e937"
}

.icon-ico_step1:before {
    content: "\e930"
}

.icon-ico_step2:before {
    content: "\e931"
}

.icon-ico_step3:before {
    content: "\e932"
}

.icon-ico_arrw:before {
    content: "\e900"
}

.icon-ico_basket:before {
    content: "\e901"
}

.icon-ico_battery:before {
    content: "\e902"
}

.icon-ico_bell:before {
    content: "\e903"
}

.icon-ico_bottom-arrow:before {
    content: "\e904"
}

.icon-ico_box:before {
    content: "\e905"
}

.icon-ico_camera:before {
    content: "\e906"
}

.icon-ico_cargo:before {
    content: "\e907"
}

.icon-ico_charge:before {
    content: "\e908"
}

.icon-ico_compare:before {
    content: "\e909"
}

.icon-ico_courier:before {
    content: "\e90a"
}

.icon-ico_easy:before {
    content: "\e90b"
}

.icon-ico_facebook:before {
    content: "\e90c"
}

.icon-ico_fast:before {
    content: "\e90d"
}

.icon-ico_favori:before {
    content: "\e90e"
}

.icon-ico_favori2:before {
    content: "\e90f"
}

.icon-ico_ftMail:before {
    content: "\e910"
}

.icon-ico_ftMap:before {
    content: "\e911"
}

.icon-ico_ftPhone:before {
    content: "\e912"
}

.icon-ico_google:before {
    content: "\e913"
}

.icon-ico_inc:before {
    content: "\e914"
}

.icon-ico_instagram:before {
    content: "\e915"
}

.icon-ico_joystick:before {
    content: "\e916"
}

.icon-ico_laptop:before {
    content: "\e917"
}

.icon-ico_left-arrow:before {
    content: "\e918"
}

.icon-ico_map:before {
    content: "\e919"
}

.icon-ico_menu:before {
    content: "\e91a"
}

.icon-ico_moto:before {
    content: "\e91b"
}

.icon-ico_mp:before {
    content: "\e91c"
}

.icon-ico_mp2:before {
    content: "\e91d"
}

.icon-ico_phone:before {
    content: "\e91e"
}

.icon-ico_printer:before {
    content: "\e91f"
}

.icon-ico_processor:before {
    content: "\e920"
}

.icon-ico_quit:before {
    content: "\e921"
}

.icon-ico_restore:before {
    content: "\e922"
}

.icon-ico_right-arrow:before {
    content: "\e923"
}

.icon-ico_search:before {
    content: "\e924"
}

.icon-ico_speaker:before {
    content: "\e925"
}

.icon-ico_star:before {
    content: "\e926"
}

.icon-ico_sticker:before {
    content: "\e927"
}

.icon-ico_time:before {
    content: "\e928"
}

.icon-ico_top-arrow:before {
    content: "\e929"
}

.icon-ico_tv:before {
    content: "\e92a"
}

.icon-ico_twitter:before {
    content: "\e92b"
}

.icon-ico_user:before {
    content: "\e92c"
}

.icon-ico_wiev:before {
    content: "\e92d"
}

.icon-ico_wiev2:before {
    content: "\e92e"
}

.icon-ico_youtube:before {
    content: "\e92f"
}



/*******************************************************************************************************/



.icong-icon-grid-3:before {
    content: "\e91d";
    color: #666;
  }
  .icong-icon-grid-4:before {
    content: "\e91e";
    color: #666;
  }
  .icong-stars-score:before {
    content: "\e91b";
    color: #f4b840;
  }
  .icong-disslikebutton:before {
    content: "\e914";
    color: #5e5e5e;
  }
  .icong-likebutton:before {
    content: "\e915";
    color: #5e5e5e;
  }
  .icong-buggunkargorevize2:before {
    content: "\e907";
    color: #fff;
  }
  .icong-bugnteslimrevize2:before {
    content: "\e90c";
    color: #fff;
  }
  .icong-compare:before {
    content: "\e90e";
  }
  .icong-kargobedava:before {
    content: "\e911";
    color: #fff;
  }
  .icong-motokurye:before {
    content: "\e912";
    color: #fff;
  }
  .icong-vatangarantiv:before {
    content: "\e913";
    color: #fff;
  }
  .icong-kraltaci:before {
    content: "\e904";
  }
  .icong-motortrim:before {
    content: "\e90b";
    color: #2196f3;
  }
  .icong-sonadet:before {
    content: "\e90f";
    color: #fff;
  }
  .icong-yeniurun:before {
    content: "\e910";
    color: #fff;
  }
  .icong-bugun-teslim:before {
    content: "\e908";
    color: #15c060;
  }
  .icong-iade:before {
    content: "\e909";
    color: #15c060;
  }
  .icong-kargo:before {
    content: "\e90a";
    color: #2196f3;
  }
  .icong-pst-prod-next:before {
    content: "\e900";
  }
  .icong-pst-prod-prev:before {
    content: "\e901";
  }
  .icong-filter:before {
    content: "\e91f";
  }
  .icong-information-outline:before {
    content: "\e91c";
  }
  .icong-play-outline:before {
    content: "\e90d";
  }
  .icong-heart:before {
    content: "\e91a";
  }
  .icong-checkmark:before {
    content: "\e916";
  }
  .icong-list:before {
    content: "\e917";
  }
  .icong-location:before {
    content: "\e918";
  }
  .icong-notification:before {
    content: "\e919";
  }
  .icong-chevron-small-up:before {
    content: "\e902";
  }
  .icong-chevron-small-down:before {
    content: "\e903";
  }
  .icong-sort:before {
    content: "\e920";
  }
  .icong-keyboard_arrow_left:before {
    content: "\e906";
  }
  .icong-navigate_next:before {
    content: "\e905";
  }
  .icong-history:before {
    content: "\e94d";
  }
  .icong-search:before {
    content: "\e986";
  }
  .icong-facebook:before {
    content: "\ea90";
  }
  .icong-instagram:before {
    content: "\ea92";
  }
  .icong-twitter:before {
    content: "\ea96";
  }
  .icong-youtube:before {
    content: "\ea9d";
  }
  .icong-linkedin:before {
    content: "\eac9";
  }
  