@import 'default.scss';
@import 'product-box.scss';

.pc-pro {
    display: block;
    padding: 10px;
    border: 1px solid #dfdfdf;
    transition: all .3s ease;

    &:hover{
        background: #f3faff;
        border: 1px solid #2196f3;
    }
}

.pc-pro-pic {
    display: inline-block;
    width: 12.5%;
    border-right: 1px solid #dcdcdc;
    vertical-align: middle;
    
    img{
        margin: 0 auto;
    }
}

.pc-pro-name {
    display: inline-block;
    width: 50%;
    padding: 10px;
}

.pc-pro-brand, .pc-pro-price, .pc-pro-btn {
    display: inline-block;
    width: 12.5%;
    height: 80px;
    padding: 15px 10px;
    vertical-align: middle;
    border-left: 1px solid #dcdcdc;
    text-align: center;
}