@import 'default.scss';
@import 'product-box.scss';




header{
    .main-menu{
        .top-first{
            .mb-head{
                .mb-search-btn{
                    display: none;
                }

                .mb-logo{
                    padding-left: 0;
                }
            }
        }
        
        .nav-search{
            display: block;
        }
    }
}


main{
    margin-top: 0;
}

.main-slider{
    background: $bg-grey;
    max-width: 100%;
    padding: 10px 0;
    padding-bottom: 0;
    margin-bottom: 10px;
    overflow: hidden;
}
.slider{
    overflow: hidden;
    border-radius: 4px;


    div.slider-item{
        text-align: center;
        position: relative;
        width: 100%;
        padding: 0;
        outline: none;
        

        img{
            width: 100%;
        }
       
    }

    div.slick-active{
        opacity: 1;
        transition: opacity .4s cubic-bezier(0.55, 0.06, 0.68, 0.19);
    }

    
    .slick-next,.slick-prev{
        &::before{
            font-size: 35px;
            color: $blue;
            text-shadow: 0px 1px 2px rgba(0,0,0,.75);
        }
    }

    .slick-prev{
        left: 15px;
    }
    .slick-next{
        right: 15px;

    }
    .slick-disabled{
        opacity: 0;
    }

    .slick-dots{
        width: calc(100%);
        bottom: 7px;

        li{
            width: 10px;
            height: 10px;
            margin: 0 3px;
        }
        li button{
            width: 10px;
            height: 10px;
            &::before{
                font-size: 10px;
                opacity: 1;
                color: transparent;
                background: #fff;
                border-radius: 50%;
                width: 8px;
                height: 8px;
                border: 1px solid #417fbc;
            }
        }
        li.slick-active button{
            &::before{
                background: $light-blue;
            }
        }

        img{
            width: 100%;
        }
    }

}


.slider.slick-dotted{
    margin-bottom: 0px !important;
}

.slider-nav{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    background: $white;
    

    div{
        width: 48px;
        opacity: 1;
        text-align: center;
        overflow: hidden;
        margin: 0 5px;
        cursor: pointer;
        display: inline-block;

        img{
            width: 100%;
            height: 100%;
        }
    }
}



.slider-text {
    position: absolute;
    right: 0;
    bottom: 0;
    width: auto;
    transform: none;
}

.slider-price{
    background: 0;
    color: $blue;
    background: url('../images/fiyatBg.png') no-repeat;
    width: 154px;
    height: 70px;
    display: inline-block;
    padding: 12px 0 0 9px;
    border-radius: 0;
    text-align: center;
    min-width: 150px;
    margin-top: 15px;
    font-size: 3.1em;
    font-weight: 700;

    span{
        font-weight: 500;
        font-size: 18px;
    }
}

.slider-main{
    width: 100%;
    border-radius: 4px;
    border-radius: 4px;
}

.right-banner{
    float: right;
    width: 250px;
    padding-left: 13px;
    
    img{
        width: 100%;
        border-radius: 4px;
    }
}

.sl-mobile{
    display: none;
}

@media screen and (min-width: 991px) and (max-width: 1280px) {

    .right-banner{
        display: none;
    }

    .slider-main{
        width: 100%;
    }
}

@include responsive(1228px){
    .slider-main{
        width: 100%;
        margin-bottom: 3px;
    }
    .main-slider {
        max-width: 100%;
        overflow: hidden;
        margin-top: 0px;
        margin-bottom: 10px;
        overflow-y: hidden;
        
    }

    .right-banner{
        display: none;
    }

}

@include responsive(tablet){
   
    .sl-desktop{
        display: none;
    }

    .sl-mobile{
        display: block;
    }
    
}

@include responsive(mobile){
    
    .slider-nav{
        display: none;
    }
   
    .slider-price {
        width: 85px;
        height: 45px;
        padding: 16px 0 0;
        min-width: auto;
        font-size: 1.5em;

        span{
            font-size: 12px;
        }
    }
}



a.brand--item {
    display: block;
    float: left;
    padding: 7px 18.9px;
    filter: grayscale(1);
    opacity: 0.5;
    transition: all .3s ease;
    width: 11.11%;

    img{
        max-height: 35px;
        max-width: 100%;
        margin: 0 auto;
    }

    &:hover{
        filter: none;
        opacity: 1;
    }
}


@include responsive(tablet){
    .brand-crousel{
        //margin-bottom: 25px;
    }
}


.shopping-history{
    overflow: hidden;
    position: relative;
}


.shopping-history--head {
    width: 10%;
    padding: 17.5px 10px;
    float: left;
    background: $blue;
    color: $white;
    overflow: hidden;

    i{
        width: 29px;
        height: 29px;
        display: inline-block;
        font-size: 26px;
        vertical-align: super;
    }

    h2{
        display: inline-block;
        font-size: 17px;
        width: calc(100% - 34px);
        font-weight: 400;
        text-align: right;
        line-height: 24px;
    }
}

.shopping-history--list {
    width: 90%;
    float: left;
    padding: 10px 20px;
}

.shopping-history--item {
    width: auto;
    float: left;
    padding: 0 30px;
    background: $white;
    border-left: 1px solid #efefef;
    position: relative;
    overflow: hidden;
    

    &:first-child{
        margin-left: 0;
        border-color: transparent;
    }

    &:hover{
        *{
            opacity: 1;
            filter: none;
        }
    }

}

a.sh-item--img {
    width: 50px;
    height: 50px;
    float: left;
    display: block;
    overflow: hidden;

    img{
        display: block;
        width: 100%;
        transition: all .3s ease;
        filter: grayscale(1);
        opacity: (.7);    }
}

.sh-item--info {
    width: calc(100% - 60px);
    float: left;
    padding-left: 5px;

    p{
        font-size: 11px;
        color: #de5620;
    }
}

a.sh-item--name {
    display: block;
    color: $dark-grey;
    font-size: 10.5px;
    line-height: 14px;
    transition: all .3s ease;
    height: 27px;
    overflow: hidden;
    filter: grayscale(1);
    opacity: (.7);

}

.sh-item--price{
    display: block;
    color: $blue;
    transition: all .3s ease;
    filter: grayscale(1);
    opacity: (.5);
}

span.sh-item-price--big {
    font-size: 16px;
    line-height: 20px;
    float: left;
    transition: all .3s ease;
    font-weight: 700;

}

span.sh-item-price--cent {
    display: none;
    font-size: 13px;
    line-height: 16px;
    float: left;
    margin-left: 3px;
    transition: all .3s ease;

}
span.sh-item-price--tl {
    font-size: 14px;
    line-height: 20px;
    float: left;
    margin-left: 3px;
    transition: all .3s ease;
    font-weight: 500;

}

#sh-item-hide{
    position: absolute;
    right: 5px;
    top: 1px;
    color: $blue;
    font-size: 15px;
    transition: all .3s ease;

    &:hover{
        color: $light-grey;
    }
}


.sh-close {
    position: absolute;
    right: 5px;
    top: 0px;
    font-size: 18px;
    font-weight: bold;
    color: $blue;
    cursor: pointer;
    z-index: 12;
    transition: all .3s ease;

    &:hover{
        color: $light-blue;
    }
}



@include responsive(desktop){

    .shopping-history--head {
        h2{
            font-size: 14px;
        }
    }
}


@include responsive(laptop){

    .shopping-history--head {
        width: 100%;
        text-align: center;
        background: $white;
        color: $title-grey;
        padding: 7px 0;
        border-bottom: 2px solid $bg-grey;

        h2{
            width: auto;
            vertical-align: middle;
            font-size: 14px;
            font-weight: 600;
        }

        i{  
            display: none;
            width: 30px;
            height: 10px;
            font-size: 20px;
            vertical-align: sub;
        }
    }

    .shopping-history--list {
        width: 100%;
        padding: 5px 10px;
    }
    
}

@include responsive(mobile){

    .shopping-history--item{
        border-color: transparent;
    }
}

.slider{
    .owl-nav {
        .owl-prev {
            left: 0px;
        }
        .owl-next {
            right: 0px;
        }
        button.owl-next,
        button.owl-prev{
            background: transparent;
            border-radius: 5px;
            outline: none;
            &:focus{
                outline: none;
            }
            span{
                display: none;
            }
            &::after{
                color: $blue;
                font-size:25px;
                font-family: $icomoon_g,
            }
        }
    }
}

.cookie-main{
    width: 100%;
    display: inline-block;
    background: #006da8 url('../images/cookie-banner.jpg') center center no-repeat;
    position: relative;
    margin-bottom: 6px;

    .cookie-line{
        position: relative;
        top: 0;
        height: 60px;
    }

    a.go-link{
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 60px;
        z-index: 4;
    }

    .close-btn{
        position: absolute;
        right: 0;
        top: calc(50% - 8.5px);
        z-index: 5;
        width: auto;
        text-transform: uppercase;
        color: $white;

        i{
            &::before{
                font-size: 10px;
                color: $white;
            }
        }

        span{
            font-size: 14px;
            margin-left: 5px;
            font-weight: 500;
        }
    }
}


