.product-list{
    
    /*
    border-width: 1px 0 0 1px;
    border-color: #e0e0e0;
    border-style: solid; 
    */
}

.product-item{
    float: left;
    vertical-align: top;
    width: 20%;

    
   .prd-main{
        margin: 0;
        border-width: 0 1px 1px 0;
        border-style: solid;
        border-color: #d4d4d4;
        overflow: hidden;
        position: relative;
        padding-bottom: 25px;
        transition: 0.3s ease-in-out;
        &:hover{
            /*
            z-index: 5;
            box-shadow: 0 10px 50px -5px rgba(51,71,91,0.12);
            transform: scale(1.020);
            */
            
            &::before{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                box-shadow: 0 0 0 2px #2196f3 inset;
                z-index: 1;
                pointer-events: none;
            }
            /*
            .prd-img{
                img{
                    transform: scale(1.05);
                }
            }
            */
        }
        &::before{
            content: '';
            transition: all .5s ease;
            box-shadow: 0 0 0 0 #2196f3 inset;
        }

        
    }

    .prd-img{
        padding: 50px 30px 10px 30px;
        
        a{
            width: 100%;
            display: block;
            max-width: 100%;
            margin: 0 auto;
            overflow: hidden;
        }

        img{
            width: 100%;
            max-width: 100%;
            transition: all .4s ease-in-out;
        }
    }

    .prd-info{
        .prd-comment{
            text-align: center;
            display: block;
            height: 14px;
            margin: 7px 0;
            a.prd-comment-link{
                color: #9e9e9e;
                font-size: 11px;
                &::before{
                    font-family: 'icomoon';
                    font-size: 12px;
                    content: '\e926';
                    color: #ff8f00;
                    margin-right: 3px;
                }
            }
        }

        .prd-code{
            text-align: center;
            font-size: 11px;
            margin: 10px 0 5px 0;
            padding: 0 20px;
            a{
                color: #9e9e9e;
                transition: all .30s ease;
            }
        }

        .prd-name{
            font-size: 12px;
            font-weight: 400;
            line-height: 1.2;
            height: 45px;
            overflow: hidden;
            text-align: center;
            padding: 0 20px;
            a{
                color: #424242;
            }
        }

    }

    &.carousel-pic{

        .prd-main{
            &:hover{
                transform: scale(1);
            }
        }

        .prd-img{
            padding: 0;

            .slider-img{
                padding: 50px 30px 10px 30px;
            }
        }
    }

}
.carousel-slide{
    .prd-main{
        border: none;
    }

    .product-item{
        width: auto;
    }
}
.left-flag{
    position: absolute;
    left: 0;
    top: 0;
}

.prd--line{
    max-width: 20%;
    border-bottom: 2px solid #a0a0a0;
}

.only-web{
    width: 100%;
    color: #2196f3;
    font-weight: 500;
    text-align: center;
    position: absolute;
    top: 9px;
    left: 0;
    right: 0;
    display: block;
    font-size: 12px;
}

.opp-prd{
    width: 125px;
    height: 25px;
    text-align: center;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: inline-block;
    background: url('../images/firsat.svg') center no-repeat;
    background-size: contain;
}

.prd-last{
    width: 100%;
    margin: 0 0 15px 0;
    display: inline-block;
    height: 12px;
    text-align: center;
    position: absolute;
    top: 30px;
}

.prd-last-main{
    display: inline-block;
    background: #0153a6;
    font-size: 11px;
    padding: 0px 5px 0px 26px;
    height: 20px;
    line-height: 20px;
    color: #fff;
    position: relative;
    transform: skew(-15deg, 0deg);
    min-width: 130px;

    &.yeniurun{
        background: #a60501;
    }

    div{
        transform: skew(15deg, 0deg);

        i{  
            width: 23px;
            height: 20px;
            margin-right: 3px;
            display: inline-block;
            text-align: center;
            position: absolute;
            left: -27px;
            top: 0;
            vertical-align: middle;
            transform: skew(-15deg,0deg);
            border-right: 2px solid #0808087a;


            &::before{
                color: #fff;
                top: 4px;
                left: 6px;
                position: absolute;
                transform: skew(15deg,0deg);
            }

            &.icong-sonadet{
                background: #FF1744;

                &::before{
                    animation: fadein .8s ease-in alternate infinite;
                }
            }

            &.icong-kraltaci{
               background: #004488;
                &::before{
                    color: #eabf0f;
                }
            }

            &.icong-yeniurun{
                 &::before{
                     font-size: 10px;
                     top: 5px;
                 }
             }

             &.icong-firsaturunu{
                &::before{
                    left: 8px;
                    top: 5px;
                }
            }
        }
    }

    &.oop-pro{
        padding: 0 5px;
        min-width: initial;
    }
}


span.oop-pro-icon {
    width: 22px;
    height: 24px;
    background: url('../images/sound.svg') center no-repeat;
    background-size: contain;
    display: inline-block;
    vertical-align: text-top;
    margin-top: -3px;
    position: relative;
    z-index: 11;
    margin-right: -4px;

    &::before{
        content: "";
        width: 22px;
        height: 24px;
        position: absolute;
        display: block;
        background: url('../images/unsound.svg') center no-repeat;
        background-size: contain;
        animation: fadein .8s ease-in alternate infinite;
        z-index: 10;
    }
}


.prd--tag--down {
    padding: 10px;
    background: #ea0000;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    position: absolute;
    top: 55px;
    right: 0;
}

.prd--tag--new {
    padding: 3px 7px;
    background: #80d229;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    position: absolute;
    top: 100px;
    right: 0;
}


.prd-price{
    margin-top: 2px;
    margin-bottom: 10px;
    line-height: 1;
    height: 50px;
    padding: 17px 20px 0;
    text-align: center;
    display: table;
    width: 100%;
    position: relative;
}

.price--price--tx {
    vertical-align: middle;
    display: table-cell;
}

a.price--small {
    color: #717171;
    font-size: 13px;
    display: block;
    text-decoration: line-through;
    position: absolute;
    top: 3px;
    left: 50%;
    transform: translateX(-50%);

    /*
    &:before{
        content: "t";
        font-family: tl;
        font-size: 13px;
        font-weight: 300;
        display: inline-block;
    }
    */
}

.price-cent{
    position: relative;
    vertical-align: super;
}

.small--cent {
    font-size: 12px;
    top: 3px;
    left: -2px;
}


.small--tl {
    font-size: 13px;
    font-weight: 400;
    position: relative;
    top: 0.4px;
    left: -2px;
}



a.price--big {
    color: #0153a6;
    font-size: 28px;
    font-weight: 700;
    display: inline-block;
    position: relative;
    

    
    &::after{
        content: "TL";
        font-size: 14px;
        font-weight: 700;
        position: absolute;
        right: -20px;
        bottom: 2px;
        line-height: 1;
    }
    
}

.big--cent {
    font-size: 15px;
    top: 2px;
    left: -5px;
    display: none;
}

.big--tl {
    font-size: 26px;
    position: relative;
    top: -1px;
    left: -4px;
    display: none;
}



/*Responsive*/
@media only screen and (min-width: 991px){
    .product-item{
        &:nth-child(n+6){
            .prd-main{
                border-width: 0 0 0 0;
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    .product-item{
        width: 25%;
    }
}

@media only screen and (max-width: 768px) {

    a.price--big {
        font-size: 23px;
    }

    .big--tl {
        font-size: 19px;
    }

    a.price--small {
        font-size: 14px;
    }

    .small--tl {
        font-size: 11px;
    }

    .product-item{
        width: 33.333%;
    }

    .prd-last-main{
        font-size: 10px;
        height: 18px;
        line-height: 18px;

        div{
            i{
                height: 18px;
            }
        }

        i {
            height: 18px;
        }
    }
}

@media only screen and (max-width: 480px) {

    .product-item{ 
        width: 50%;
        .prd-info{ 
            .prd-name {
                font-size: 10px;
                line-height: 1.2;
                height: 25px;
            }
        }
    }

    a.price--big {
        font-size: 22px;
    }

    a.price--small {
        font-size: 14px;
    }

    .big--cent{
        font-size: 13px;
    }
    

    .only-web{
        font-size: 11px;
    }
}



@media only screen and (max-width: 320px) {

    .product-item{ 
        width: 50%;
        .prd-info{ 
            .prd-name {
                font-size: 10px;
                line-height: 1.2;
                height: 25px;
            }
        }
    }

    a.price--big {
        font-size: 17px;
    }

    a.price--small {
        font-size: 12px;
    }

    .small--tl {
        font-size: 12px;
    }

    .big--cent{
        font-size: 11px;
    }

    .big--tl {
        font-size: 16px;
    }

    .only-web{
        font-size: 11px;
    }

    .prd-last-main{
        min-width: 100px;
        padding: 0 3px 0 10px;
        font-size: 8.5px;
    }
}


.mid-product{
    .prd-img {
        padding: 15px 30px 10px;
        img{
            width: auto;
            max-height: 130px;
            margin: 0 auto;
        }
    }
}


/*sepecial-class*/

.product-4{
    .product-item{
        width: 25%;
    }
}

@media only screen and (max-width: 768px) {
    .product-4{
        .product-item{
            width: 33.333%;
        }
    }
}

@media only screen and (max-width: 480px) {
    .product-4{
        .product-item{
            width: 50%;
        }
    }
}


/*sepecial-class*/

.product-3{
    .product-item{
        width: 33.333%;
        max-height: 439.64px;
    }
}

@media only screen and (max-width: 768px) {
    .product-3{
        .product-item{
            width: 33.333%;
        }
    }
}

@media only screen and (max-width: 480px) {
    .product-3{
        .product-item{
            width: 50%;
        }
    }
}


.prd-cargo-msg {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background: #efefef;
    padding: 2px 17px 4px;
    font-size: 12px;
    color: #7b7b7b;
}

.prd-compare-icon {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 15px;
    padding: 11px;
    background: #e9f5fe;
    &:before{
        color: #2196f3;
    }
}